/*css reset*/
html,body,p{ padding: 0; margin: 0; font-family: "微软雅黑",Arial,"宋体",sans-serif;font-size: 12px;} 
ol, ul {list-style: none; padding: 0; margin: 0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0;}
th,td { vertical-align: middle;}
a{text-decoration:none;	outline: none;hlbr:expression(this.onFocus=this.blur());}
input, select {vertical-align: middle;}
img, iframe {border: none; text-decoration:none;} 
strong {font-weight: bold;}
h1,h2,h3,h4,h5,h6{padding: 0; margin: 0; font-family: "微软雅黑",Arial,"宋体",sans-serif;}
:focus {outline: 0;}
/*css common*/
.f-left {float: left;}
.f-right {float: right;}
.clearfix:after{content: "";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
.clearfix{*zoom:1;}
.nodisplay{display: none;}
html, body, #wrap {height: 100%;min-width: 1024px;}
body > #wrap {height: auto; min-height: 100%;}
#main {padding-bottom: 65px;}  /* 必须使用和footer相同的高度 */
#footer {position: relative;margin-top: -65px; /* footer高度的负值 */clear:both;}
.inner {width: 900px;margin: 0 auto;}

/*  header css*/
#header{
	overflow: hidden;
	padding-bottom: 10px;
}
#header .inner div{
	float: left;
}
#header .logo{
	padding: 10px;
}
#header .search-box{
	padding-top: 55px;
	padding-left: 80px;
}
#header input{
	width:296px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	background: url(../images/glass.png) no-repeat 290px 4px;
	border:1px solid #ddd;

	transition: background 0.5s linear;
	/* Firefox 4 */
	-moz-transition:background 0.5s linear;
	/* Safari and Chrome */
	-webkit-transition:background 0.5s linear;
	/* Opera */
	-o-transition:background 0.5s linear;
}
#header input.active{
	border:1px solid #916a33;
	background: url(../images/glass.png) no-repeat 290px -31px;
}
#header .list-box{
	padding-top: 55px;
	padding-left: 70px;
}
#header .list-box a{
	font-size: 16px;
	margin: 0 10px;
}
#header .list-box a.first{
	color:#339868;
}
#header .list-box a.second{
	color:#f37125
}
#header .list-box a.third{
	color:#2a6f7e;
}
#header .list-box a.forth{
	color:#a11715;
}
/* homepage css*/
.home-page .sec-1{
	overflow: hidden;
	height: 170px;
	background-color: #ffba00;
}
.home-page .sec-1 .form-box{
	padding-left: 100px;
	padding-top: 30px;
}
.home-page .sec-1 .input-box{
	padding-bottom: 15px;
	
}
.home-page .sec-1 .input-box input{
	height: 20px;
	line-height: 20px;
	border:1px solid #ddd;
	font-size: 12px;
	width: 160px;
	padding: 0 10px;
}
.home-page .sec-1 label{
	color:#9a633c;
}
.home-page .sec-1 .radio-box a{
	color:#9a633c;
	float: right;
	padding-top: 3px;
	font-size: 10px;
}
.home-page .sec-1 .radio-box a:hover{
	border-bottom: 1px solid #9a633c;
}
.home-page .sec-1 .btn-box{
	padding-top: 10px;
}
.home-page .sec-1 .btn-box input{
	width:60px;
	color: #fff;
	background-color: #9a633c;
	border:1px solid #9a633c;
	border-radius: 3px;
	height: 20px;
	display: block;
	float: left;
	font-size: 12px;
}

.home-page .sec-1 .btn-box a{
	display: block;
	width: 60px;
	float: left;
	color:#9a633c;
	/*background-color: #fff;*/
	border:1px solid #9a633c;
	margin-left: 10px;
	border-radius: 3px;
	text-align: center;
	height: 19px;
	line-height: 19px;
}
.home-page .sec-1 .btn-box a:hover{
	color: #fff;
	border:1px solid #fff;
}
.home-page .sec-1 h1{
	padding-top: 30px;
	color: #9a633c;
	font-size: 36px;
	line-height: 50px;
	text-align: right;
}
.home-page .sec-1 p{
	color: #9a633c;
	font-size: 20px;
	line-height: 60px;
}
.home-page .sec-1 .title{
	padding-right: 115px;
}

