<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
	<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap-theme.min.css">	
</head>
<body>
	<div class="hvc">
		<p>后台管理>广告管理</p>
	</div>
	<form action="__CONTROLLER__/index" method="get" class="form-inline" role="form" style="margin:18px 62px 22px;">
	  	<div class="form-group" style="width:35%">
	    <label class="sr-only">电影名</label>
	  	<input name="name" type="text"  class="form-control"  placeholder="输入电影名进行查询">
	  	</div>
	  	<button type="submit" class="btn btn-default">搜索</button>
	</form>
</body>
</html>