<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap-theme.min.css">
		<title>电影列表</title>
	</head>
	<body>
		<h3></h3>

		<form class="form-inline" role="form" style="margin-left:66px;">
		  <div class="form-group">
		    <label class="sr-only">电影名</label>
		  <input type="text" class="form-control"  placeholder="输入电影名进行查询">
		  </div>
		  <button type="submit" class="btn btn-default">搜索</button>
		</form>
		<table class="table table-bordered" style="width:89%;margin:10px auto;">
            <tr>
                <th>编号</th>
                <th>片名</th>
                <th>国内上映时间</th>
                <th>国外上映时间</th>
                <th>导演</th>
                <th>编剧</th>
				
				<th>片长</th>         				
				<th>影片年份</th>
				<th>简介/别名</th>
				<th>图片</th>
				<th>操作</th>
			</tr>

			<foreach name="list" item="vo">
            <tr>
	            <td>{$vo.id}</td>
	            <td><a class="btn btn-default" href="">{$vo.name}</a></td>
	            <td>{$vo.crelease_t}</td>
	            <td>{$vo.orelease_t}</td>
	            <td>{$vo.director}</td>
	            <td>{$vo.writer}</td>
				
				<td>{$vo.tlong}</td>		           	           
	            <td>{$vo.fname}</td>
	            <td><a class="btn btn-primary" href="__MODULE__/movie/brief/id/{$vo.id}">查看</a></td>
	            <td><a class="btn btn-info" href="__MODULE__/movie/addImage/id/{$vo.id}">添加</a></td>
				<td>					
					<a class="btn btn-success" href="__CONTROLLER__/edit/id/{$vo.id}">编辑</a>
					<a class="btn btn-danger" href="__CONTROLLER__/del/id/{$vo.id}">删除</a>  
				
				</td>
            </tr>
           </foreach>
        </table>
	</body>
</html>