<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
		<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap-theme.min.css">
		<title>电影列表</title>
	</head>
	<body>
		<div class="hvc">
			<p>后台管理>电影长评</p>
		</div>

		<form action="__CONTROLLER__/longComment" method="get" class="form-inline" role="form" style="margin:18px 62px 22px;">
		  <div class="form-group">
		    <label class="sr-only">电影名</label>
		  <input type="text" name="name" class="form-control"  placeholder="输入电影名进行查询">
		  </div>
		  <button type="submit" class="btn btn-default">搜索</button>
		</form>
		<table class="table table-bordered" style="width:89%;margin:10px auto;">
            <tr>
                <th>编号</th>
                <th>电影名</th>
                <th>用户名</th>
                <th>评论时间</th>
                <th>标题</th>    				         				
				<th>评论热度</th>
				<th>影片打分</th>
				<th>内容</th>
				<th>显示</th>
				<th>操作</th>
			</tr>

			<foreach name="list" item="vo">
            <tr>
	            <td>{$vo.id}</td>
	            <td>{$vo.name}</td>
	            <td>{$vo.uname}</td>
	            <td>{$vo.time|date="Y-m-d",###}</td>
	            <td>{$vo.title}</td>	           	           	            
	            <td>{$vo.hot}</td>
	            <td>{$vo.grade}</td>
	            <td><a class="btn btn-primary" target="_blank" href="__APP__/Home/movie/commentDetail/id/{$vo.id}/mid/{$vo.m_id}">查看</a></td>
				<td><a class="btn btn-success" href="__CONTROLLER__/dolongshow/id/{$vo.id}/show/{$vo.show}">{$vo['show']==0?否:是}</a></td>  
				<td>									
					<a class="btn btn-danger" href="__CONTROLLER__/dellongComment/id/{$vo.id}">删除</a>
				</td>
            </tr>
           </foreach>
        </table>
        <div id="pager" style="margin-left:60px;">
        {$page}
        </div>
	</body>
</html>