<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstraps/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstraps/css/bootstrap-theme.min.css">
		<script src="__PUBLIC__/css/bootstraps/js/bootstrap.min.js"></script>
		<title>Document</title>
	</head>
	<body>
		<form method="post" class="form-horizontal" form action="__CONTROLLER__/doadd" style="margin-top:20px;margin-left:120px;" role="form" enctype="multipart/form-data" >
		  	<div class="form-group">
		    	<label for="inputEmail3" class="col-sm-2 control-label">图书名称</label>
		    	<div class="col-sm-10">
		      		<input type="text" name="name" value="" style="width:30%;" class="form-control" id="inputEmail3" placeholder="请输入图书名">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="inputPassword3" class="col-sm-2 control-label">出版时间</label>
		    	<div class="col-sm-10">
		      		<input type="text" name="release_t" style="width:30%;" class="form-control" id="inputPassword3" placeholder="请输入出版时间">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="inputEmail3" class="col-sm-2 control-label">作者</label>
		    	<div class="col-sm-10">
		      		<input type="text" name="writer" value="" style="width:30%;" class="form-control" id="inputEmail3" placeholder="请输入作者">
		    	</div>
		  	</div>
		  	<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">出版社</label>
			    <div class="col-sm-10">
			      	<input type="text" name="publisher" style="width:30%;" class="form-control" id="inputEmail3" placeholder="请输入出版社">
			    </div>
		  	</div>
		  	<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">ISBN</label>
			    <div class="col-sm-10">
			      	<input type="text" name="isbn" style="width:30%;" class="form-control" id="inputEmail3" placeholder="请输入ISBN">
			    </div>
		  	</div>
		  	<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">翻译者</label>
			    <div class="col-sm-10">
			      	<input type="text" name="translater" style="width:30%;" class="form-control" id="inputEmail3" placeholder="请输入翻译者">
			    </div>
		  	</div>
		  	
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">是否有电子书？</label>
			    <div class="col-sm-10">
			      	<input type="text" name="brief" style="width:30%;" class="form-control" id="inputEmail3" placeholder="请输入是，否">
			    </div>
		  	</div>

		  	<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">作者简介</label>
			    <div class="col-sm-10">
			      	<input type="text" name="w_brief" style="width:30%;" class="form-control" id="inputEmail3" placeholder="请输入作者简介">
			    </div>
		  	</div>
			<label for="inputEmail3" class="col-sm-2 control-label">图书简介</label>
		  	<textarea style="width:30%;margin-bottom:10px;" class="form-control" rows="3" name="brief" value=""></textarea>
		  	<div class="form-group">
			    <label for="inputEmail3" name="b_brief" class="col-sm-2 control-label">上传图片</label>
			    <div class="col-sm-10">
			      	<input name="book_cover" type="file" style="width:35%;" >
			    </div>
		  	</div>
		  	<div class="form-group">
			   	<label for="inputEmail3" class="col-sm-2 control-label">选择类型</label>		    
			        <div class="col-sm-10">
			        	<foreach name="list" item="vo">
			      		<input name="c_id[]" style="margin:6px 2px;"  type="checkbox" value="{$vo.id}">{$vo.name}
			      		</foreach>
			   	    </div>
			</div>
		  	<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      	<button type="submit" class="btn btn-default">添加</button>
			    </div>
		  	</div>


			

		</form>
	</body>
</html>