<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstraps/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstraps/css/bootstrap-theme.min.css">
		<script src="__PUBLIC__/css/bootstraps/js/bootstrap.min.js"></script>
		<title>Document</title>
	</head>
	<body>
		<if condition="empty($_GET['id'])">
		<a class="btn btn-success" style="margin-left:50px;margin-top:30px;" href="__MODULE__/book/addclassify">添加一级分类</a>
		<else />
		<a class="btn btn-primary" style="margin-left:50px;margin-top:30px;" href="__MODULE__/book/classify">返回上级</a>
		</if>
		<table class="table table-bordered" style="width:75%;margin:35px auto;">
            <tr>
                <th>编号</th>
                <th>分类名称</th>
                <th>父类ID</th>
                <th>PATH字段</th>
                <th>显示字段</th>
                <th>操作</th>
				
			</tr>
			<if condition="empty($list)">
			<tr>
				<td colspan="6" style="font-size:20px;text-align:center;">没有更多子类了</td>
			</tr>
			<else />
			<foreach name="list" item="vo">
            <tr>
	            <td>{$vo.id}</td>
	            <td>{$vo.name}</td>
	            <td>{$vo.pid}</td>
	            <td>{$vo.path}</td>
	            <td>是</td>
				<td>
					<a class="btn btn-info" href="__CONTROLLER__/classify/id/{$vo.id}">查看子类</a>
					<a class="btn btn-info" href="__MODULE__/book/addclassify/id/{$vo.id}">添加子类</a>
					<a class="btn btn-success" href="__CONTROLLER__/editclassify/id/{$vo.id}">编辑</a>
					<a class="btn btn-danger" href="__CONTROLLER__/delclassify/id/{$vo.id}">删除</a> 
				
				</td>
            </tr>
           </foreach>
           </if>
        </table>
        {$page}
	</body>
</html>