<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstraps/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstraps/css/bootstrap-theme.min.css">
		<script src="__PUBLIC__/css/bootstraps/js/bootstrap.min.js"></script>
		<title>图书列表</title>
	</head>
	<body>
		<h3></h3>

		<form class="form-inline" role="form" style="margin-left:140px;">
		  <div class="form-group">
		    <label class="sr-only">书名</label>
		  <input type="text" class="form-control"  placeholder="输入书名进行查询">
		  </div>
		  <button type="submit" class="btn btn-default">搜索</button>
		</form>

		<table class="table table-bordered" style="width:75%;margin:10px auto;">
            <tr>
                <th>编号</th>
                <th>图书名称</th>
                <th>出版时间</th>
                <th>作者</th>
                <th>出版社</th>
				<th>ISBN</th>
				<th>翻译者</th>         
				<th>作者简介</th>
				<th>封面</th>
				<th>操作</th>
			</tr>

			
			<foreach name="list" item="vo">
            <tr>
	            <td>{$vo.id}</td>
	            <td><a class="btn btn-default" href="">{$vo.name}</a></td>
	            <td>{$vo.release_t}</td>
	            <td>{$vo.writer}</td>
	            <td>{$vo.publisher}</td>
				
				<td>{$vo.isbn}</td>		           	           
	            <td>{$vo.translater}</td>
	            <td>{$vo.w_brief}</td>
	            <td>{$vo.book_cover}</td>


				<td>					
	            	<a class="btn btn-primary" href="__MODULE__/book/brief/id/{$vo.id}">查看</a>
					<a class="btn btn-success" href="__CONTROLLER__/edit/id/{$vo.id}">编辑</a>
					<a class="btn btn-danger" href="__CONTROLLER__/del/id/{$vo.id}">删除</a>  
				
				</td>
            </tr>
           </foreach>
        </table>
	</body>
</html>