<html>
    <head>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css"/>
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    </head>
    
    <script type="text/javascript">
        $(function(){
            $('ul li a.nav').click(function(){
                $('a.nav').removeClass('active');
                var parent = $(this).parents('li');
                if (parent.hasClass('opened')) {            
                    parent.removeClass('opened');
                    parent.find('.item').slideUp();
                    
                }else{
                    $('ul li').removeClass('opened').find('.item').slideUp()
                    parent.addClass('opened');
                    $(this).addClass('active');
                    parent.find('.item').slideDown();
                }
        
            })
            $('.item a.sub-nav').click(function(){
                $('.item a.sub-nav').removeClass('active');
                $(this).addClass('active');

            })

        });
             
    </script>
    <body class="menu-page">
        <div class="img-box">
            <img src="__PUBLIC__/images/logo_small.jpg"/>
        </div>
        <ul>
            <li>
                
                <a class="nav"href="javascript:;">电影信息管理</a>
                <div class="item">
                    <a class="sub-nav" href="__MODULE__/movie/index" target="content">电影信息</a>
                    <a class="sub-nav" href="__MODULE__/movie/add" target="content">添加电影</a>
                    <a class="sub-nav" href="__MODULE__/movie/classify" target="content">分类管理</a>
                    <a class="sub-nav"href="__MODULE__/movie/image" target="content">电影图片</a>
                </div>
                
            </li>
            <li>
                <a class="nav"href="javascript:;">电影标签管理</a>
                <div class="item">
                    <a class="sub-nav"href="__MODULE__/movie/image" target="content">电影标签</a>
                    <a class="sub-nav"href="__MODULE__/movie/addImage" target="content">添加图片</a>
                    <a class="sub-nav"href="hotel/room_info.php" target="content">更多信息</a>
                </div>
            </li>
            <li>
                <a class="nav"href="javascript:;">图书信息管理</a>
                <div class="item">
                    <a class="sub-nav"href="__MODULE__/book/index" target="content">显示图书信息</a>
<!--                     <a class="sub-nav"href="__MODULE__/book/classify" target="content">添加分类信息</a> -->
                    <a class="sub-nav"href="__MODULE__/book/add" target="content">添加图书</a>
                    <a class="sub-nav" href="__MODULE__/book/classify" target="content">图书分类管理</a>
                </div>
            </li>
            <!-- <li>
                <a class="nav"href="javascript:;">机+酒信息管理</a>
                <div class="item">
                    <a class="sub-nav"href="tplush/district_info.php" target="content">机+酒地区信息</a>
                    <a class="sub-nav"href="tplush/add_p_h.php" target="content">添加机+酒信息</a>
                    <a class="sub-nav"href="tplush/p_h_info.php" target="content">显示机+酒信息</a>
                </div>
            </li> -->
            <li>
               <a class="nav"href="javascript:;">广告信息管理</a>
               <div class="item">
                   <a class="sub-nav"href="order/room.php" target="content">广告信息</a>
                   <a class="sub-nav"href="order/ticket.php" target="content">显示信息</a>
               </div>
                       
            </li>
            <li>
                <a class="nav"href="javascript:;">评论信息管理</a>
                <div class="item">
                    <a class="sub-nav"href="__MODULE__/Movie/longComment" target="content">电影长评信息</a>
                    <a class="sub-nav"href="__MODULE__/Movie/shortComment" target="content">电影短评信息</a>
                    <a class="sub-nav"href="__MODULE__/Book/longComment" target="content">图书长评信息</a>
                    <a class="sub-nav"href="__MODULE__/Book/shortComment" target="content">图书短评信息</a>
                </div>
            </li>
            <li>
                <a class="nav"href="javascript:;">权限信息管理</a>
                <div class="item">
                    <a class="sub-nav"href="{:U('User/fontUser')}" target="content">前台用户信息</a>
                    <a class="sub-nav"href="{:U('User/backUser')}" target="content">后台用户信息</a>
                    <a class="sub-nav"href="{:U('User/power')}" target="content">添加权限</a>
                    <a class="sub-nav"href="{:U('User/addActor')}" target="content">添加角色信息</a>
                </div>
            </li>
        </ul>
    </body>
</html>
