<html>
    <head>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css"/>
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    </head>
    


    <body class="top-page">
        <div class="title">
            <h2>欢迎来到beehive后台管理</h2>
        </div>
        <div class="f-right login">
            <p>欢迎您！</span><a href="{:U('common/out')}">退出登录</a></p>
            

        </div>
        <script type="text/javascript">
            
           
        </script>
    </body>
</html>
