/*css reset*/
html,body,p{ padding: 0; margin: 0; font-family: "微软雅黑",Arial,"宋体",sans-serif;font-size: 12px;} 
ol, ul {list-style: none; padding: 0; margin: 0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0;}
th,td { vertical-align: middle;}
a{text-decoration:none;	outline: none;hlbr:expression(this.onFocus=this.blur());}
input, select {vertical-align: middle;}
img, iframe {border: none; text-decoration:none;} 
strong {font-weight: bold;}
h1,h2,h3,h4,h5,h6{padding: 0; margin: 0; font-family: "微软雅黑",Arial,"宋体",sans-serif;}
:focus {outline: 0;}
/*css common*/
.f-left {float: left;}
.f-right {float: right;}
.clearfix:after{content: "";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
.clearfix{*zoom:1;}
.nodisplay{display: none;}
html, body, #wrap {height: 100%;min-width: 1024px;}
body > #wrap {height: auto; min-height: 100%;}
#main {padding-bottom: 65px;}  /* 必须使用和footer相同的高度 */
#footer {position: relative;margin-top: -65px; /* footer高度的负值 */clear:both;}
.inner {width: 950px;margin: 0 auto;}

/* .header css*/
.header{
	overflow: hidden;
	padding-bottom: 10px;
}
.header .inner div{
	float: left;
}
.header .logo{
	padding: 10px;
}
.header .search-box{
	position: relative;
	padding-top: 55px;
	padding-left: 80px;
}
.header input.search{
	width:296px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	
	border:1px solid #ddd;
	
}
.header input.button{
	width:16px;
	overflow: hidden;
	right:4px;
	text-indent: 10000px;
	height: 20px;
	bottom:5px;
	border:1px solid #fff;
	position: absolute;
	background: url(../images/glass.png) no-repeat 0px 4px;
	transition: background 0.5s linear;
	/* Firefox 4 */
	-moz-transition:background 0.5s linear;
	/* Safari and Chrome */
	-webkit-transition:background 0.5s linear;
	/* Opera */
	-o-transition:background 0.5s linear;
}
.header input.button.active{
	background: url(../images/glass.png) no-repeat 0px -31px;
}
.header input.search.active{
	border:1px solid #916a33;
	
}
.header .list-box{
	padding-top: 55px;
	padding-left: 70px;
}
.header .list-box a{
	font-size: 16px;
	margin: 0 10px;
}
.header .list-box a.first{
	color:#339868;
}
.header .list-box a.second{
	color:#a11715
}
.header .list-box a.third{
	color:#2a6f7e;
}
.header .list-box a.forth{
	color:#f37125;
}
#footer{
	height: 65px;
	background-color: #ccc;
}
#footer p{
	color: #fff; 
	line-height: 65px;
	text-align: center;

}
#pager {
	text-align: center;
	margin-bottom: 100px;
}
#pager a {
	display: inline-block;
	width: 20px;
	margin: 0 3px;
	height: 36px;
	line-height: 36px;
	color: #666666;
	font-size: 14px;
}
#pager a:hover {
	color: #eb655a;
}
#pager .current {
	color: #eb655a;
	display: inline-block;
	margin: 0 3px;
	width: 20px; 
	font-weight: bold;
	cursor: default;
}
#pager a.prev, #pager a.next {
	height: 34px;
	line-height: 34px;
	border: 1px solid #ddd;
	width: 75px;
	text-align: center;
	margin: 0 18px 0 0;
	border-radius: 5px;
}
#pager a.next, #pager a.last{
	margin: 0 0 0 18px;
}
#pager a.next:hover, #pager a.prev:hover,#pager a.first:hover, #pager a.last:hover{
	border-color: #eb655a;
}

.common_header{
	background-color: #545652;
	
}
.common_header a{
	line-height: 26px;
	color: #d5d5d5;
	margin: 0 12px;
}
.common_header .right{
	margin-right: 20px;
}
.common_header a:hover{
	color: #fff;
}
.common_header li{
	display: inline-block;
	position: relative;
	margin: 0 10px;
}
.common_header span.arrow{
	
	
	border-color: #d5d5d5 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 3px 3px 0;
    font-size: 0;
    height: 0;
    left: 2px;
    line-height: 0;
    position: relative;
    top: -2px;
    width: 0
}
.common_header a:hover span.arrow{
	border-color: #fff transparent transparent;
}
.common_header .item{
	position: absolute;
	width: 80px;
	right: 4px;
	display: none;
	background: #fff;
}
.common_header .item a{
	display: block;
	text-align: center;
	color: #444;
}
.same_header{
	background-color: #E3EBEC ;
}
.same_header .top{
	border-bottom: 1px solid #ddd;
	width: 100%;
	overflow: hidden;
}
.same_header h2{
	font-size: 30px;
	font-weight: normal;
	line-height: 70px;
	float: left;
}
.same_header .search-box{
	padding-top:26px;
	padding-left: 66px;
	float: left;
}
.same_header .bottom a{
	line-height: 34px;
	font-size: 14px;
	margin-right: 20px;
}
.movie_header h2{
	color: #A11715;
}
.movie_header .bottom a{
	color: #a11715;
}
.movie_header .bottom a:hover{
	color: #fff;
	background-color: #a11715;
}
/* homepage css*/
.home-page .sec-1{
	overflow: hidden;
	height: 170px;
	background-color: #ffba00;
}
.home-page .sec-1 .form-box{
	padding-left: 100px;
	padding-top: 30px;
}
.home-page .sec-1 .input-box{
	padding-bottom: 15px;
	
}
.home-page .sec-1 .input-box input{
	height: 20px;
	line-height: 20px;
	border:1px solid #ddd;
	font-size: 12px;
	width: 160px;
	padding: 0 10px;
}
.home-page .sec-1 label{
	color:#9a633c;
}
.home-page .sec-1 .radio-box a{
	color:#9a633c;
	float: right;
	padding-top: 3px;
	font-size: 10px;
}
.home-page .sec-1 .radio-box a:hover{
	border-bottom: 1px solid #9a633c;
}
.home-page .sec-1 .btn-box{
	padding-top: 10px;
}
.home-page .sec-1 .btn-box input{
	width:60px;
	color: #fff;
	background-color: #9a633c;
	border:1px solid #9a633c;
	border-radius: 3px;
	height: 20px;
	display: block;
	float: left;
	font-size: 12px;
}

.home-page .sec-1 .btn-box a{
	display: block;
	width: 60px;
	float: left;
	color:#9a633c;
	/*background-color: #fff;*/
	border:1px solid #9a633c;
	margin-left: 10px;
	border-radius: 3px;
	text-align: center;
	height: 19px;
	line-height: 19px;
}
.home-page .sec-1 .btn-box a:hover{
	color: #fff;
	border:1px solid #fff;
}
.home-page .sec-1 h1{
	padding-top: 30px;
	color: #9a633c;
	font-size: 36px;
	line-height: 50px;
	text-align: right;
}
.home-page .sec-1 p{
	color: #9a633c;
	font-size: 20px;
	line-height: 60px;
}
.home-page .sec-1 .title{
	padding-right: 115px;
}
.home-page .section h2{
	color: #9a633c;
	font-weight: normal;

	line-height: 40px;
	font-size: 16px;
}
.home-page .section h4{
	color: #9a633c;
	font-weight: normal;
	display: inline-block;
	line-height: 40px;
	padding-top: 20px;
	font-size: 16px;
}
.home-page .sec-2 img{
	width: 950px;
}
.home-page .section{
	padding-bottom: 40px;
	overflow: hidden;
}
.home-page .sec-2{
	padding-bottom: 0px;
	margin-top: 40px;
}

.home-page .sec-3 .img-box{
	width: 360px;
	float: left;
	overflow: hidden;
}
.home-page .sec-3 .img-box li{
	float: left;
	width: 170px;
	margin: 0 10px 20px 0;
}
.home-page .sec-3 .img-box a{
	display: inline-block;
	color: #9a633c;

}
.home-page .sec-3 .img-box a:hover{
	color: #fff;
	background-color: #9a633c;
}
.home-page .sec-3 .img-box span{
	color: #999;
	font-size: 12px;
	padding-left: 4px;
}
.home-page .sec-3 .img-box img{
	width: 170px;
	height: 170px;
}
.home-page .sec-3 .list-box{
	float: left;
	width: 281px;
	height: 384px;
	overflow: hidden;
	padding-right:10px;
}
.home-page .sec-3 .list-box img{
	width: 265px;
}
.home-page .sec-3 .list-box li{
	padding-bottom: 20px;
}
.home-page .sec-3 .list-box a{
	display: inline-block;
	color: #9a633c;
}
.home-page .sec-3 .list-box a:hover{
	color: #fff;
	background-color: #9a633c;
}
.home-page .sec-3 .list-box span{
	display: block;
	line-height: 20px;
	color: #999;
}
.home-page .sec-3 .list-box p{
	color: #ccc;
	line-height: 20px;
}
.home-page .sec-4{
	background-color: #f7f7f7;
}
.home-page .section h3{
	font-size: 26px;
	font-weight: normal;
	line-height: 80px;
}
.home-page .sec-4 h3{
	color: #339868;
}
.home-page .section .list{
	width: 109px;
}
.home-page .sec-4 a{
	color: #339868;
	font-size: 14px;
}
.home-page .sec-4 a:hover{
	color: #fff;
	background-color: #339868;
}
.home-page .section .new .pic a:hover{
	background-color: transparent;
}
.home-page .section .list li{
	padding-bottom: 10px;
}
.home-page .section .new{
	width: 520px;
	padding-right: 30px;
}
.home-page .section .new li{
	float: left;
	padding: 15px;
}
.home-page .section .new li .pic{
	height: 148px;
	width: 100px;
	overflow: hidden;
}
.home-page .section .new li .pic img{
	width: 100px;
}
.home-page .section .new p{
	line-height:30px; 
	width: 100px;
	color: #999;
	text-align: center;
}
.home-page .section .tags li{
	width: 290px;
}
.home-page .section .tags li {
	padding-bottom: 14px;
	border-bottom: 1px solid #ddd;
}
.home-page .section .tags li a{
	font-size: 12px;
	margin: 0 5px;
}

.home-page .section .tags span{
	color: #999;
}
.home-page .sec-5 .list h3{
	color: #a11715;
}
.home-page .sec-5 a{
	color: #a11715;
	font-size: 14px;
}
.home-page .sec-5 a:hover{
	color: #fff;
	background-color: #a11715;
}
.home-page .sec-5 .new span{
	display: inline-block;
	height: 11px;
	background: url(../images/midstars.gif);
	overflow: hidden;
	width: 55px;
	margin: 0 8px;
}
.home-page .sec-5 .new i{
	color: #f40;
}
.home-page .sec-6{
	background-color: #f7f7f7;
}
.home-page .sec-6 .right{
	width: 291px;
}
.home-page .sec-6 .right li a{
	line-height: 40px;
}
.home-page .sec-6 .list h3{
	color: #2A6F7E;
}
.home-page .sec-6 a{
	color: #2A6F7E;
	font-size: 14px;
}
.home-page .sec-6 .hot li{
	float:left;
	width: 240px;
	padding-right: 20px;
	padding-bottom: 40px;

}
.home-page .sec-6 .hot p{
	color: #999;
}
.home-page .sec-6 .hot .img-box{
	float: left;
	width:48px;
	margin-right: 15px;
	margin-bottom: 10px;
	display: block;
}
.home-page .sec-6 .hot .img-box:hover{
	background-color: transparent;
}
.home-page .sec-6 .hot .img-box img{
	width: 48px; 
}
.home-page .sec-6 .classify a.parents{
	color: #444;
	line-height: 20px;

}
.home-page .sec-6 a.parents:hover{
	color: #fff;
	background-color: #2A6F7E;
}
.home-page .sec-6 a:hover{
	color: #fff;
	background-color: #2A6F7E;
}
.home-page .sec-6 .hot{
	width:520px;
}
.movie-page .con{
	width: 617px;
	padding-right: 20px;
}
.movie-page .section{
	overflow: hidden;
	width: 100%;
}
.movie-page .section .top h3{
	color: #111;
	float: left;

	font-weight: normal;
	font-size: 16px;
	line-height: 40px;
	padding-right: 20px;
}
.movie-page .section .top {
	overflow: hidden;
	padding-top: 20px;
	margin-right: 35px;
	border-bottom:1px solid #ddd;
}
.movie-page .section .top a{
	line-height: 40px;
	color: #A11715;
	margin-right: 10px;

}
.movie-page .section .top a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-page .sec-1 {
	position: relative;
}
.movie-page .sec-1 .bottom {
	padding-top: 17px;
}
.movie-page .section .bx-controls{
	position: absolute;
	right: 32px;
	top: 31px;
}
.movie-page .section .bx-pager{
	float: left;
	margin-right: 5px;
}
.movie-page .section .bx-pager-item{
	float: left;
	margin:0 5px;
	width: 5px;
	height: 5px;
}
.movie-page .section .bx-pager-link{
	background-color: #dfdfdf;
	border-radius: 5px;
	margin-top:7px;
	text-indent: 100px;
	overflow: hidden;
	display: block;
	float: left;
	width: 5px;
	height: 5px;
}
.movie-page .section .bx-pager-link.active{
	background-color: #9B9A8F;
}
.movie-page .section .bx-controls-direction{
	float: left;
	
}
.movie-page .section .bx-controls-direction a{
	background: url(../images/controls.png) no-repeat;
	display: block;
	float: left;
	margin:0 3px;
	background-size: 60px;
	text-indent: 100px;
	width: 20px;
	height: 20px;
	overflow: hidden;
}
.movie-page .section .bx-controls-direction a.bx-next{
	background-position: -27px 0px;
}
.movie-page .section .bx-controls-direction a.bx-next:hover{
	background-position: -27px -20px;

}
.movie-page .section .bx-controls-direction a.bx-prev:hover{
	background-position: 0px -20px;

}
.movie-page .sec-1 .bottom img{
	width:128px;
}
.movie-page .sec-1 .bottom p{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #111;
}
.movie-page .sec-1 .bottom span{
	display: inline-block;
	height: 11px;
	background: url(../images/midstars.gif);
	overflow: hidden;
	width: 55px;
	margin: 0 20px;
}
.movie-page .sec-1 .bottom i{
	color: #f40;
}
.movie-page .sec-2 .tab{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-bottom: 10px;
}
.movie-page .sec-2 .tab a{
	color: #a11715;
	font-size: 14px;
	margin: 10px 5px 0  5px;
	padding: 0 10px;
	display: block;
	text-align: center;
	border:1px solid #fff;
	float: left;
}
.movie-page .sec-2 .tab a:hover{
	background-color: #a11715;
	color: #fff;
	border:1px solid #a11715;
	border-radius: 3px;
}
.movie-page .sec-2 .chose{
	overflow: hidden;
}
.movie-page .sec-2 label{
	font-size: 12px;
	margin-right: 10px;
	color: #111;
	line-height: 20px;
	padding-top: 5px;
	display: inline-block;
}
.movie-page .sec-2 label input{
	padding: 0;
	margin:0 3px;
}
.movie-page .sec-2 .tip{
	margin-top: 8px;
	background-color: #Fdfce4;
	color: #777;
	line-height: 30px;
	padding: 0 10px;
	border:1px solid #fbf2b6;
}
.movie-page .sec-2 .tip a{
	color: #a11715;
	margin-right: 5px;
}
.movie-page .sec-2 .tip a:hover{
	background-color: #a11715;
	color: #fff;
}
.movie-page .sec-2 .movies {
	padding-top: 20px;
}
.movie-page .sec-2 .movies ul{
	overflow: hidden;
}
.movie-page .sec-2 .movies li{
	width:140px;
	float: left;
	margin:0 5px;
	height:249px;
	background: url(../images/movie-default-large.gif) no-repeat top center;
}
.movie-page .sec-2 .movies img{
	width: 140px;
}
.movie-page .sec-2 .movies p{
	color: #a11715;
	text-align: center;
	padding-top: 10px;
	line-height: 20px;
}
.movie-page .sec-2 .movies i{
	color: #f40;
}
.movie-page .sec-2 .ajax-button{
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 100%;
}
.movie-page .sec-2 .ajax-button a{
	color: #a11715;
	font-size: 14px;
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
}
.movie-page .sec-2 .ajax-button a:hover{
	background-color: #f0f0f0;
}
.movie-page .sec-3{
	position:relative;
}
.movie-page .sec-3 .big-slider{
	padding-top: 10px;
}
.movie-page .sec-3 .big-slider .text-box{
	padding: 0 20px;
	width:200px;
	height: 240px;
	background-color: #f0f0f0;

}
.movie-page .sec-3 .big-slider h4{
	font-size: 20px;
	font-weight: normal;
	line-height: 40px;
	padding-bottom: 30px;
	color: #a11715
}
.movie-page .sec-3 .big-slider p{
	color: #999;
	line-height: 20px;
	font-size: 14px;
}
.movie-page .sec-3 .big-slider span{
	color: #a11715;
}
.movie-page .sec-4 span{
	display: inline-block;
	height: 11px;
	background: url(../images/midstars.gif);
	overflow: hidden;
	width: 55px;
	margin: 0 8px;
}
.movie-page .sec-4 li{
    padding:20px 0 10px;
    border-bottom:1px solid #ddd;
    overflow: hidden;
    margin-right: 35px;
} 
.movie-page .sec-4 li .img-box{
    padding-right:20px;
    
}
.movie-page .sec-4 li .text-box{
	width: 490px;
}
.movie-page .sec-4 li .text-box h5 a{  
   font-size:14px;
   font-weight:normal;
   line-height:26px;
   color:#a11715;
}
.movie-page .sec-4 li .text-box p a{  
   color:#666; 
}
.movie-page .sec-4 li .text-box p {  
   color:#666; 
   line-height: 20px;
}
.movie-page .sec-4 li .text-box p a:hover {
    color:#fff;
    background-color:#a11715;
}
.movie-page .sec-4 li .text-box a:hover {
    color:#fff;
    background-color:#a11715;
}
.movie-page .sec-4 li .text-box p.detail {
	color: #111;  
	padding-top: 5px;
}
.movie-page .sec-4 li .text-box a.all{
	color: #a11715;
}
.movie-page .sider{
	width: 313px;
}
.movie-page .sider .ad{

	padding-top: 50px;
	margin-bottom: 20px;
}
.movie-page .sider .ad img{
	width: 300px;
	height: 250px;
}
.movie-page .sider .hot{
	background-color: #fbecc9;
	border-radius: 3px;
	padding: 10px;

}
.movie-page .sider .hot h3{
	color:#9a633c;
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
}
.movie-page .sider .hot li a{
	line-height: 26px;
	margin-left: 20px;
	color: #a11715;

}
.movie-page .sider .hot li a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-page .sider .list-box h3{
	color: #111;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 20px;
}
.movie-page .sider .list-box .title{
	overflow: hidden;
	padding-top: 20px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}
.movie-page .sider .list-box .title a{
	color: #a11715;
    line-height: 40px;
    margin-right: 10px;
}
.movie-page .sider .list-box .title a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-page .sider .list-box li{
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
	line-height: 40px;
}
.movie-page .sider .list-box li a{
	color: #a11715;
	margin-left: 10px;

}
.movie-page .sider .list-box li a:hover{
	color: #fff;
	background-color: #a11715;
}

/*css movie ranking*/
.movie-ranking-page .con .sec-4 .top{
	border-bottom: 1px dashed #ddd;
}
.movie-ranking-page .con .sec-4 h2{
	font-weight: normal;
	font-size: 20px;
	line-height: 34px;
}
.movie-ranking-page .con .sec-4 h3{
	padding-bottom: 5px;
}
.movie-ranking-page .con .text-box{
	width: 490px;
}
.movie-ranking-page .con .text-box p{
	padding-bottom: 10px;
}
.movie-ranking-page .con span{
	margin:0 8px 0 0;
}
.movie-ranking-page .con i{
	color: #f40;
	margin-right: 8px;
}
.movie-ranking-page .sider h4{

	color: #111;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 20px;
}
.movie-ranking-page .sider .classify a{
	color: #a11715;
	padding: 0 10px;
	margin-right: 5px;
}
.movie-ranking-page .sider .classify a:hover{
	color:#fff;
	background-color: #a11715;
}
.movie-ranking-page .sider h5{
	color: #666;
	font-weight: normal;
	float: right;
	font-size: 10px;
}
.movie-ranking-page .sider .list-box{
	padding-bottom: 20px;
}
.movie-ranking-page .sider .list-box .title{
	border-bottom: 1px dashed #ddd;

}
.movie-ranking-page .sider .list-box li{
	border-bottom: 1px dashed #ddd;
	line-height: 30px;
}
.movie-ranking-page .sider .top250 .title{
	overflow: hidden;
	padding-bottom: 10px;
}
.movie-ranking-page .sider .top250 h3{
	color: #111;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 20px;
}
.movie-ranking-page .sider .top250 .title a{

	color: #a11715;
    line-height: 40px;
    margin-right: 10px;
}
.movie-ranking-page .sider .top250 .title a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-ranking-page .sider .top250 li{
	float: left;
	margin: 0 13px 10px 0; 
	width: 65px;
}
.movie-ranking-page .sider .top250 p a{
	color: #a11715;
}
.movie-ranking-page .sider .top250 p a:hover{
	background-color: #a11715;
	color: #fff;
}

/*css movie-classify-page*/
.movie-classify-page .con .section h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}
.movie-classify-page .con .list-box h4{
	color: #111;
	font-weight: normal;
	line-height: 30px;
	font-size: 14px;
}
.movie-classify-page .con .list-box li{
	float: left;
}
.movie-classify-page .con .list-box li a{
	color: #a11715;
	padding: 0 10px;
	margin-right: 35px;
	line-height: 20px;
	display: block;
	border-radius: 3px;
}
.movie-classify-page .con .list-box li a:hover{
	color: #fff;
	background-color: #a11715;
}

.movie-comment-page .section .bottom h5{
	padding-left: 10px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 4px;
	background-color: #f5f5f5;
}
.movie-comment-page .section .bottom h5 .icon{
	background:url(../images/triangle.png) no-repeat 1px 5px ;
	float: right;
	display: block;
	text-indent: 100px;
	width: 46px;
	overflow: hidden;
	height: 20px;
}
.movie-comment-page .section .bottom h5 .icon:hover{
	background-color: transparent;
}
.movie-comment-page .section .bottom h5 .icon.active{
	background-position: 1px -9px;
}
.movie-comment-page .section .bottom p{
	padding-left: 10px;
}


/*user-page css*/
.user-page .header img{
	float: left;

}
.user-page .header h2{
	color: #9A633C;
	float: left;
	font-size: 28px;
	padding-top: 40px;
	padding-left: 20px;
	font-weight: normal;
}
.user-page h3{
	color: #111;
	font-size: 20px;
	font-weight: normal;
	line-height: 50px;
}
.user-page .form-box{
	float: left;
	width:600px;
}
.user-page .form-box .input-box{
	padding:15px;
}
.user-page .form-box .input-box label{
	color: #111;
	font-size: 14px;
	padding-right: 10px;

}
.user-page .form-box .input-box input{
	width:200px;
	padding: 0 10px;

	height:24px;
	line-height: 24px;
	border:1px solid #ccc;
	border-radius: 3px;

}
.user-page .form-box .input-box input.vcode{
	width: 70px;
}
.user-page .form-box .input-box img{
	width: 110px;
	margin-right: 300px;
	display: block;
	float: right;
}
.user-page .form-box .input-box input.active{

}
.user-page .form-box .check-box{
	padding:20px 16px;

}
.user-page .form-box .check-box a{
	color: #9A633C;
}
.user-page .form-box .check-box a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-page .form-box .button-box{
	padding:20px 40px;
}
.user-page .form-box .button-box input{
	width:70px;
	height: 30px;
	line-height: 30px;
	border:1px solid #666;
	border-radius: 3px;
	color: #666;
	font-size: 16px;
	background-color: #ddd;
}

.user-page .sider{
	float: left;
	padding-top: 24px;
	padding-left: 20px;
	
}
.user-page .sider p{
	padding-top: 40px;
	color: #111;

}
.user-page .sider p a{
	color: #9A633C;
}
.user-page .sider p a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-page .form-box span{
	color: red;
	padding-left: 20px;
} 

/*css user_header*/
.user_header .list-box li{
	float: left;
}
.user_header .list-box li a{
	color: #9A633C;
}
.user_header .list-box li a:hover{
	color: #fff;
	background: #9A633C;
}
.user_header .search-box{
	padding-top: 49px;
}

/*css user-page*/
.user-page #main{
	padding-top: 30px;
}
.user-page .con {
	width:570px;
	margin-right: 30px;
}
.user-page .con .top {
	overflow: hidden;
}
.user-page .con .top .list-box ul{
	float: left;
	padding-bottom:8px;
}
.user-page .con .top .list-box li{
	display: inline-block;
	margin-right: 20px;
	position: relative;
	
}
.user-page .con .top .list-box li span{
	background:url(../images/icon_all.png) no-repeat 0 -302px;
	display: inline-block;
	width: 21px;
	height: 24px;
}
.user-page .con .top .list-box li span.second{
	background-position: -83px -298px
}
.user-page .con .top .list-box li span.third{
	background-position: -4px -1106px
}
.user-page .con .top .list-box li a{
	color: #9A633C;
}
.user-page .con .top .setting {
	float: right;
	width: 100%;
	padding-top: 10px;
}
.user-page .con .top li img{
	width: 9px;
	position: absolute;
	display: none;
	left: 22px;
	top: 28px;
}
.user-page .con .top .setting a.set{
	color: #aaa;
	margin-top: 13px;
	display: block;
	float: right;
}
.user-page .con .top .interesting{
	clear:both;
	overflow: hidden;
	background-color: #f5f5f5;
	display: none;
}
.user-page .con .top .interesting h2{
	color: #444;
	padding-left: 20px;
	font-weight: normal;
	line-height: 60px;
}
.user-page .con .top .interesting h3{
	color: #9A633C;
	font-size: 16px;
	padding-left: 20px;
}
.user-page .con .top .theme{
	margin:0 30px; 
}
.user-page .con .top .theme a{
	color: #9A633C;
	display: block;
	float: left;
	padding: 0 20px;
	line-height: 24px;
	border-radius: 3px;
	font-size: 14px;
	border:1px solid #f5f5f5;
	margin: 10px;
	background-color: #fff;
}
.user-page .con .top .theme a.on{
	background-color: #fee8d9;
	border:1px solid #fcb03e;
}
.user-page .con .top .theme a:hover{
	border:1px solid #fcb03e;
}
.user-page .con .top .follow{
	margin-left: 30px; 
	margin-bottom: 20px;
}
.user-page .con .top .follow p{
	color: #444;
	font-size: 14px;
}
.user-page .con .top .follow p a{
	color: #9A633C;
	margin-left: 4px;
}
.user-page .con .top .follow p a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-page .con .top .btn-box{
	background-color: #dfdfdf;
	padding: 20px;
}
.user-page .con .top .btn-box input{
	margin-left: 382px;
	border:1px solid #9A633C;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	margin-right: 10px;
	color:#fff;
	background-color:#9A633C;
	border-radius: 3px; 
}
.user-page .con .top .btn-box.publish{
	background-color: #f5f5f5;
	display: none;
	padding: 10px;
}
.user-page .con .top .btn-box.publish input{
	width: 50px;
	margin-left: 482px;
}
.user-page .con .top .btn-box input:hover{
	background-color: #b87240;
}
.user-page .con .top .btn-box a{
	color:#9A633C;
}
.user-page .con .top .text{
	clear:both;
	border:1px solid #ddd;
	position: relative;
	padding: 10px;
}
.user-page .con .top .text textarea.say{
	width: 100%;
	resize:none;
	height: 20px;
	border:0 none;
	line-height: 20px;
	font-size: 14px;

}
.user-page .con .top .text textarea.say.active{
	height: 80px;
}
.user-page .con .top .text .file-image{
	background:url(../images/icon_all.png) no-repeat -120px -307px;
	display: block;
	width: 20px;
	height: 20px;
	right: 10px;
	cursor: pointer;
	top: 10px;
	float: right;
	position:absolute;  

}
.user-page .con .top .text .file-image.active{
	left: 10px;
	top: 75px;
}
.user-page .con .top .text .file-image a{
	display: block;
	width: 100%;
	height: 100%;
}
.user-page .con .top .text .file-image.hide{
	display: none;
}
.user-page .con .top .text input.file{
	width: 22px;
	height:22px;    
	filter: alpha(opacity = 0);  
	-moz-opacity:0;  
	opacity: 0;  
	z-index: 110;  
}
.user-page .con .top .img-upload{
	overflow: hidden;
	display: none;
	padding-top: 20px;
}
.user-page .con .top .img-upload.show{
	display: block;
}
.user-page .con .top .img-upload div{
	float: left;
	padding-right: 10px;
}
.user-page .con .top .img-upload div img{
	width: 46px;
	height: 46px;
}
.user-page .con .top .img-upload .upload-box span{
	width: 40px;
	height: 40px;
	border:3px dashed #ddd;
	text-align: center;
	font-size: 28px;
	display: inline-block;
	position: relative;
	color: #ddd;
}
.user-page .con .top .img-upload .img-box{
	position: relative;
}
.user-page .con .top .img-upload .img-box span{
	position: absolute;
	display: block;

	background: url(../images/icon_all.png) no-repeat -60px -227px;
	width: 20px;
	height: 20px;
	right: 6px;
	top: 1px;
}
.user-page .con .top .img-upload .img-box span a{
	display: block;
	width: 100%;
	height: 100%
}
.user-page .con .top .img-upload input{
	width: 40px;
	height:40px;
	left: 0;
	top: 0;    
	filter: alpha(opacity = 0);  
	-moz-opacity:0;  
	opacity: 0;  
	z-index: 110;
	position: absolute;  
}
.user-page .info-box p.tip{
	padding-top: 40px;
}
.user-page .info-box li{
	padding-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}
.user-page .info-box li .face-box{
	float: left;
	width: 82px;
}
.user-page .info-box li .face-box img{
	width: 48px;
	height: 48px;
}
.user-page .info-box li .info{
	float: left;
	width: 487px;
	padding-top: 5px;
}
.user-page .info-box li .info p{
	color: #666;
	line-height: 26px;
	font-size: 12px;
	padding-bottom: 10px;
}
.user-page .info-box li .info .list-box  a{
	color: #666;
}
.user-page .info-box li .info p  a{
	color: #666;
}

.user-page .info-box li .info .detail p{
	padding-bottom: 30px;

}
.user-page .info-box li .info .detail{
	padding: 10px 20px;
	background-color: #fafafa;
	overflow: hidden;

}
.user-page .info-box li .info .detail a.title{
	color: #9A633C;
	font-size: 14px;
	margin-bottom: 5px;
	display: inline-block;
}
.user-page .info-box li .info .detail p{
	line-height: 20px;
}
.user-page .info-box li .info a.title:hover{
	color: #fff;
	background: #9A633C;
}
.user-page .info-box .ajax-btn{
	padding-bottom: 30px;
}
.user-page .info-box .ajax-btn p{
	text-align: center;
	color:#666;
}
.user-page .info-box .ajax-btn a{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #9A633C;
	border-radius: 3px;
	font-size: 20px;
	font-weight: normal;

} 
.user-page .info-box .ajax-btn a:hover{
	background-color: #AA6F46;
}
a.like{
	display: block;
	text-align: center;
	float: left;
	width: 63px;
	height: 26px;
	font-size: 14px;	
	border-radius: 3px;
	line-height: 26px;
	border:1px solid #ff7f72;
	color:#ff7f72;
}
a.like span{
	display: block;
	float: left;
	text-indent: 100px;
	height: 26px;
	width: 23px;
	overflow: hidden;
	background:url(../images/icon_all.png) no-repeat 5px -364px;
}
a.like:hover{
	background-color: #fff;
}
a.like:hover span{
	background-position: -103px -364px;
}
a.like.active span{
	background-position: -81px -364px;
}
.user-page .info-box li .info .time{
	border-bottom :1px solid #ddd;
}
.user-page .info-box li .info .time p{
	color: #aaa;
	padding: 7px 0 25px 10px;
	

}
.user-page .info-box li .info .list-box{
	color: #999;
	line-height: 26px;
	margin-left: 26px;
	border-left: 3px solid #ddd;
	float: left;
	padding-left: 10px;
}
.user-page .info-box li .info .list-box a{
	color: #999;
	margin-right: 10px;
}
.user-page .info-box li .album img{
	width: 100px;
	margin-right: 7px;
	margin-bottom: 20px;
	height: 100px;
}


.user-page .hot {
	background-color: #fbecc9;
	padding-left: 20px;
	width: 280px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.user-page .hot h2{
	color: #9A633C;

	font-weight: normal;

	line-height: 40px;

}
.user-page .hot a{
	color: #9A633C;
	line-height: 24px;

}
.user-page .hot a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-page .a-box{
	padding:20px 0;
}
.user-page .a-box a{
	color:#9A633C;
}
.user-page .a-box a:hover{
	color: #fff;
	background-color: #9A633C
}
.user-page .user-info{
	overflow: hidden;
	padding-bottom: 20px;
}
.user-page .user-info img{
	width: 48px;
	height: 48px;
}
.user-page .user-name {
	padding-left: 20px;
}
.user-page .user-name p.bri{
	display: none;
	float: left;
}
.user-page .user-name i.signnull{
	display: none;
}
.user-page .user-name .edit{
	display: none;
	color: #666;
}
.user-page .user-name h3{
	font-size: 24px;
	color: #444;
	font-weight: bold; 
	line-height: 32px;
}
.user-page #main .link-box {
	overflow: hidden;
	padding-bottom: 20px;
}
.user-page #main .link-box li{
	float: left;
	padding-right: 20px;
}
.user-page #main .link-box li a{
	color: #444;
}
.user-page #main .link-box li a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-page .user-name i a{
	color: #666;
}
.user-page .user-name .brief{
	display: none;
}
.user-home-page .set-info{
	background-color: #f5f5f5;
	padding: 30px 20px;
}
.user-home-page .set-info h4{
	font-weight: normal;
	font-size: 16px;
	color: #444;
	padding-bottom: 15px;
	line-height: 26px;
}
.user-home-page .set-info .list-box {
	margin-left: 30px;
}
.user-home-page .set-info .list-box a{
	display: block;
	background:url(../images/step_icon.gif) no-repeat 0 1px;
	height: 24px;
	font-size: 16px;
	color: #9A633C;
	line-height: 24px;
	margin-bottom: 10px;
	padding-left: 30px;
}
.user-home-page .set-info .list-box a.active{
	background-position: 0 -21px;
	color: #999;
}
.user-home-page .set-info .list-box a.sec{
	background-position: 0 -43px;
}
.user-home-page .set-info .list-box a.sec.active{
	background-position: 0 -66px;
}
.user-home-page .set-info p{
	color: #666;
	line-height: 10px;
	padding-left: 30px;
	padding-top: 30px;
}

.user-home-page .section {
	padding-top: 25px;
}
.user-home-page .section h2{
	color: #9A633C;
	padding-bottom: 10px;
}
.user-home-page .section h2 span{
	width: 23px;
	display: inline-block;
	height: 23px;
	background: url(../images/icon_all.png) no-repeat -81px -364px;
}
.user-home-page .section h2 a{
	font-size: 12px;
	color: #666;
	margin-left: 20px;
}
.user-home-page .section .list {
	padding-bottom: 10px;
}
.user-home-page .section .list a{
	color: #9A633C;
	margin:0 5px;
}
.user-home-page .section .list p{
	line-height: 30px;
}
.user-home-page .section .list p.border{
	border-bottom: 1px dashed #ddd;
}

.user-home-page .section .list p span{
	display: inline-block;
	float: right;
}
.user-home-page .section a.btn{
	border: 1px solid #ddd;
	display: block;
	float: right;
	height: 24px;
	line-height: 24px;
	background-color: #f5f5f5;
	padding: 0 10px;
}
.user-home-page .section .empty{
	color: #666;
}
.user-home-page .sec-2 p.time{
	color: #666;
}
.user-home-page .sec-2 p{
	line-height: 20px;
}
.user-home-page .sec-3 .empty a{
	display: block;
	border:3px dashed #ddd;
	width: 50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	color: #ddd;
}
.user-home-page .sec-3 .list {
	overflow: hidden;
}
.user-home-page .sec-3 .list li{
	float: left;
	overflow: hidden;
	width: 115px;
}
.user-home-page .sec-3 .list li p{
	line-height: 30px;
}
.user-home-page .sec-3 .list a{
	display: block;
	text-align: center;
}
.user-home-page .sec-3 .list a.img{
	border:3px dashed #ddd;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	float: left;
}
.user-home-page .sec-3 .list a.img img{
	width: 100px;
	height: 100px;
}
.user-home-page .sider .info-box{
	padding: 10px 0;
	width: 280px;
	border-bottom: 1px dashed #ddd;
	overflow: hidden;

}
.user-home-page .sider .info-box .img-box{
	float: left;
	padding-top: 10px;
	margin-left: 10px;
}
.user-home-page .sider .info-box .img-box img{
	width: 118px;
}
.user-home-page .sider .info-box .info{
	float: left;
	padding-top: 16px;
	padding-left: 15px;
}
.user-home-page .sider .info-box .info h5{
	color: #666;
	font-size: 16px;
	font-weight: normal;	
}
.user-home-page .sider .info-box .info h6{
	font-weight: normal;
	font-size: 12px;
	color: #666;
	line-height: 30px;
}
.user-home-page .sider .brief p.intro{
	padding: 10px;
}
.user-home-page .sider .top{
	background-color: #fbecc9;
	overflow: hidden;
}
.user-home-page .sider .brief a{
	display: inline-block;
	margin: 10px 0 10px 10px;
	margin-left: 10px;
	color: #9A633C;
}
.user-home-page .sider .brief a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-home-page .sider .brief .intro-form {
	display: none;
}
.user-home-page .sider .brief .intro-form textarea{
	resize:none;
	margin:0 auto;
	width: 250px;
	height: 70px;
	display: block;
	margin-bottom: 20px;
}
.user-home-page .sider .brief .intro-form input{
	width: 70px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	margin: 0 10px;
}
.user-home-page .sider .radio,.user-home-page .sider .bee {
	padding-top: 20px;
}
.user-home-page .sider .radio h2,.user-home-page .sider .bee h2{
	color: #9A633C;
	font-size: 14px;
}
.user-home-page .sider .radio h2 a,.user-home-page .sider .bee h2 a{
	color: #9A633C;
	margin-left: 20px;
	font-size: 12px;
}
.user-home-page .sider .radio h2 a:hover,.user-home-page .sider .bee h2 a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-home-page .sider .radio p{
	padding-top: 20px;
}
.user-home-page .sider .radio p a{
	margin :0 10px;
}
.user-home-page .sider .bee h2 a.btn{
	border: 1px solid #ddd;
	display: block;
	color: #666;
	float: right;
	height: 24px;
	line-height: 24px;
	background-color: #f5f5f5;
	padding: 0 10px;
}
.user-home-page .sider .bee li{
	padding: 10px 0;
}
.user-home-page .sider .bee li a{
	color: #9A633C;
	line-height: 20px;
}
.user-home-page .sider .bee li a:hover{
	color: #fff;
	background-color: #9A633C;

}
.user-home-page .face-box{
	background-color: #fff;
	overflow: hidden;
	display: none;
}
.user-home-page .face-box .img-box{
	float: left;
}
.user-home-page .face-box .img-box img{
	width: 160px;
}
.user-home-page .face-box .small-img{
	
}
.user-home-page .face-box .small-img img{
	width: 50px;
}
.user-home-page .face-box input{
	margin-top: 20px;
	margin-left: 20px;
}
.user-home-page .set-info .textarea{
	display: none;
}
.user-home-page .set-info .textarea textarea{
	resize:none;
	margin-bottom: 20px;
	width: 450px;
	height: 100px;
}
.user-home-page .set-info .textarea input{
	display: block;
	float: right;
	margin-right: 50px;
}
.user-diary-page .diary-list li{
	padding-bottom: 20px;
}
.user-diary-page .diary-list .primary h4{
	background-color: #fbecc9;
	height: 28px;
	line-height: 28px;
}
.user-diary-page .diary-list .primary h4{
	padding-left: 4px;
}
.user-diary-page .diary-list .primary a.title{
	color: #9A633C;
}
.user-diary-page .diary-list .primary a.icon{
	display: block;
	float: right;
	width: 40px;
	background: #f5f5f5;
	height: 28px;
	background: url(../images/triangle.png) no-repeat -5px -27px;
}
.user-diary-page .diary-list .primary a.icon.active{
	background-position: -5px -58px;
}
.user-diary-page .diary-list .primary a.title:hover{
	background: #9A633C;
	color: #fff;
}
.user-diary-page .diary-list .primary p{
	padding-left: 4px;
	line-height: 30px;
}
.user-diary-page .diary-list .primary p.time{
	color: #666;
	line-height: 20px;
}

.user-diary-page .diary-list .sub{
	overflow: hidden;
	display: none;
}



.user-diary-page .diary-list .sub .tags p{
	color: #666;
	line-height: 26px;
}
.user-diary-page .diary-list .sub .tags p a{
	color: #9A633C;
	margin: 0 10px;
	padding: 0 10px;
	height: 26px;
	display: inline-block;
	background-color: #f0f0f0;
}
.user-diary-page .diary-list .sub .tags p a:hover{
	background-color: #f9f9f9;
}
.user-diary-page .diary-list .sub .bro{
	padding: 24px 0;
	color: #666;
}
.user-diary-page .diary-list .sub .bro a{
	color: #9A633C;
	margin-left: 5px;
}
.user-diary-page .diary-list .sub .bro strong{
	display: inline-block;
	font-weight: normal;
	float: right;
}
.user-diary-page .diary-list .sub .bro a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-page .sider .top{
	padding-bottom: 40px;
}
.user-page .sider .top .btn-box a{
	border:1px solid #af7349;
	padding: 0 10px;
	line-height: 20px;
	border-radius: 3px;
	background-color: #f5f5f5;
}
.user-page .sider .top .btn-box a:hover{
	background-color: #9A633C;
}
a.follow{
	border:1px solid #af7349;
	padding: 0 10px;
	line-height: 20px;
	border-radius: 3px;
	background-color: #f5f5f5;
}
a.follow:hover{
	background-color: #9A633C;
}
.user-page .sider a.btn{
	background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #666;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
}
.user-page .sider h2{
	 color: #9a633c;
    font-size: 14px;
}
.user-diary-page .sider .btn-list {
	padding: 10px 0;
}
.user-diary-page .sider .btn-list a{
	display: block;
	float: left;
	padding: 0 10px;
	margin-right: 10px;
	background-color: #f5f5f5;
	color: #9A633C;
	line-height: 20px;
	height: 20px;
}
.user-diary-page .sider .btn-list a:hover{
	background-color: #ddd;
}

.user-diary-page .write{
	padding-bottom: 50px;
	clear: both;
}
.user-diary-page .write h3{
	font-size: 24px;

}
.user-diary-page .write p{
	padding: 10px 0;
}
.user-diary-page .write p label{
	font-size: 14px;
	line-height: 24px;

}
.user-diary-page .write input.text{
	width: 930px;
	height: 24px;
	line-height: 24px;
	border:1px solid #ddd;
	padding: 0 10px;
}
.user-diary-page .write #editor{
	width: 100%;
}
.user-diary-page .write .checkbox{
	padding: 10px 0;
	clear: both;
}
.user-diary-page .write .btn-box{
	float: right;
}
.user-diary-page .write .btn-box input{
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: #9A633C;
	border:1px solid #9A633C;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
}
.user-diary-page .write .btn-box input:hover{
	background-color: #af7349;
}
.user-diary-page #pop-1{
	width: 500px;
	display: none;
	border:1px solid #ddd;
}
.user-diary-page #pop-1 .cont .title{
	background-color: #f5f5f5;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}
.user-diary-page #pop-1 .cont .title h4{
	font-size: 20px;
	color: #9A633C;
}

.user-diary-page #pop-1 .cont form{
	margin: 0;
}
.user-diary-page #pop-1 .cont .input-box {
	background-color: #fff;
}
.user-diary-page #pop-1 .cont .input-box input{
	height: 30px;
	margin: 10px;
	width: 480px;
	line-height: 30px;
	border:1px solid #ddd;
	padding: 0 10px;
}
.user-diary-page #pop-1 .cont .btn-box {
	background-color: #f5f5f5;
	overflow: hidden;
	padding: 10px ;
}
.user-diary-page #pop-1 .cont .btn-box input{
	display: block;
	float: right;
	background-color: #9A633C;
	border:1px solid #9A633C;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	width: 70px;
}
.user-diary-page .diary-detail .title p{
	font-size: 26px;
	list-style-position: 30px;
	font-weight: bold;
	padding-bottom: 10px;

}
.user-diary-page .diary-detail .writer-box {
	overflow: hidden;
	padding-bottom: 30px;
}

.user-diary-page .diary-detail .writer-box img{
	width: 24px;
	height: 24px;
	float: left;
}
.user-diary-page .diary-detail .writer-box p{
	float: left;
	width: 520px;
	font-size: 16px;
	padding-left: 20px;
	color: #666;
}
.user-diary-page .diary-detail .writer-box p span{
	padding-left: 40px;
	color: #666;
	font-size: 12px;
}
.user-diary-page .diary-detail .con{
	line-height: 20px;
	font-size: 14px;
}
.user-diary-page .diary-detail .tag{
	color: #666;
	padding: 20px 0;
}
.user-diary-page .diary-detail .tag a{
	color: #666;
	padding: 0 10px;
	background-color: #f5f5f5;
	line-height: 20px;
}
.user-diary-page .diary-detail .tag a:hover{
	background-color: #9A633C;
	color: #fff;
}
.user-diary-page .power{
	padding: 10px 0;
	color: #666;
}
.user-diary-page .power a{
	color: #666;
	margin-right: 10px;
}
.user-diary-page .power a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-diary-page .power p{
	color: #666;
	float: right;
}
.user-album-page .album-list li{
	float: left;
	margin-right: 18px;
	border: 1px solid #fff;
}
.user-album-page .album-list li:hover{
	border:1px solid #ddd;
}
.user-album-page .album-list li img{
	width: 170px;
	height: 170px;
}
.user-album-page .album-list li .info p{
	clear: both;
}
.user-album-page .album-list li .info a{
	color: #9A633C;
	float: left;
	display: block;
	margin-bottom: 5px;
}
.user-album-page .album-list li .info a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-album-page .album-list li .info p{
	line-height: 20px;
	color: #666;
}
.user-album-page .album-list li .info p span{
	padding-left: 10px;
}
.user-album-page .sider li{
	margin-bottom: 10px;
}
.user-album-page h2{
	padding-bottom: 20px;
}
.user-album-page .photo-box {
	background-color: #f5f5f5;
	overflow: hidden;
	padding: 20px;
}
.user-album-page .photo-box .input-box{
	padding-bottom: 20px;

}
.user-album-page .photo-box .input-box span{
	color: #666;
	border:1px solid #ddd;
	width: 100px;
	background-color: #fff;
	height: 26px;
	line-height: 26px;
	position: relative;
	text-align: center;
	border-radius: 3px;
	display: block;

}
.user-album-page .photo-box .input-box input{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 29px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}
.user-album-page .show-box{
	width: 100%;
	overflow: hidden;
	min-height: 246px;
	padding-top: 20px;
}
.user-album-page .photo-box strong{
	float: right;
	font-weight: normal;
	color: #666;
	display: block;
}
.user-album-page .show-box li{
	float: left;
	width: 168px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border:1px solid #ddd;
}
.user-album-page .show-box li .pic{
	width: 168px;

	height: 168px;
	background: url(../images/photo_album.png) no-repeat center center #fff;
}
.user-album-page .show-box li textarea{
	resize:none;
	width: 166px;
	height: 60px;
	border:1px solid #ddd;
	margin: 0;
	padding: 0;
}
.user-album-page .cover-btn a{
	color: #9A633C;
	float: right;
}
.user-album-page .cover-btn a:hover{
	color: #fff;
	background-color: #9A633C;
}
.user-album-page .cover-btn{
	line-height: 30px;
}
.user-album-page .tab{
	padding-bottom: 20px;
	height: 28px;
	border-bottom: 1px solid #ddd;
}
.user-album-page .tab li{
	float: left;
	padding-right: 20px;
	position: relative;
}
.user-album-page .tab li a{
	display: block;
	width: 100px;
	text-align: center;
	border: 1px solid #ddd;
	height: 26px;
	line-height: 26px;
	color: #9A633C;
}
.user-album-page .tab li a.active{
	background-color: #f5f5f5;
	color: #666;
}
.user-album-page .tab li i{
	background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #ddd;
    border-radius: 2px;
    border-top: 1px solid #ddd;
    bottom: -27px;
    display: none;
    height: 10px;
    left: 50%;
    line-height: 10em;
    margin-left: -15px;
    overflow: hidden;
    position: absolute;
    transform: rotate(45deg);
    width: 10px;
}
.user-album-page .sub{
	padding: 20px 0;
	overflow: hidden;
}
.user-album-page .sub p label{
	line-height: 30px;
}
.user-album-page .sub .input-box input{
	width: 700px;
	height: 20px;
	line-height: 20px;
	border:1px solid #ddd;
}
.user-album-page .sub .textarea-box textarea{
	resize:none;
	border:1px solid #ddd;

	width: 700px;
	height: 60px;
	line-height: 30px;
}
.user-album-page .sub .btn-box{
	float: right;
}
.user-album-page .sub .btn-box input{
	background-color: #9A633C;
	color: #fff;
	width: 100px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	border-radius: 5px;
	border:1px solid #ddd;
	margin-right: 246px;
}
.user-album-page .sub .btn-box input:hover{
	background-color: #af7349;
}
.user-photo-page .title{
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.user-photo-page .right{
	width: 634px;
}
.user-photo-page .bread-box{
	float: right;

}
.user-photo-page .bread-box li{
	float: left;
	padding-right: 10px;	
}
.user-photo-page .bread-box li a{
	color: #9A633C;
}
.user-photo-page .show-photo p{
	color: #444;
	padding-left: 20px;
	line-height: 50px;
}
.user-photo-page .show-photo a{
	color: #9A633C;
}

.user-photo-page .show-photo{
	overflow: hidden;
	padding: 20px 0;

}
.user-photo-page .show-photo li{
	float: left;
	width: 170px;
	margin-bottom: 20px;
	margin-right: 10px;
}
.user-photo-page .show-photo li img{
	width: 170px;
}
.user-photo-page .share-box{
	overflow: hidden;
	padding-bottom: 20px;
}
.user-photo-page .con{
	padding: 10px 0;
}
.user-photo-page .con p{
	line-height: 40px;
}
.user-photo-page .con a{
	color: #9A633C;
	margin-right: 10px;
}
.user-photo-page .info-box{
	padding-bottom: 40px;
}
.user-photo-page .info-box p{
	color: #666;
	line-height: 40px;
}
.user-photo-page .info-box a{
	color: #9A633C;
}

.user-photo-page .info-box a:hover{
	color: #fff;
	background-color: #9A633C;
}
a.share{
	display: block;
	width: 63px;
	height: 26px;
	float: left;
	text-align: center;
	border:1px solid #9A633C;
	color: #9A633C;
	border-radius: 3px;
	line-height: 26px;
	margin-right: 10px;
}
.allstar00{
	background-position: 0 -110px;
}

.allstar05{
	background-position: 0 -88px;
}
.allstar15{
	background-position: 0 -77px;
}
.allstar20{
	background-position: 0 -66px;
}
.allstar25{
	background-position: 0 -55px;
}
.allstar30{
	background-position: 0 -44px;
}
.allstar35{
	background-position: 0 -33px;
}
.allstar40{
	background-position: 0 -22px;
}
.allstar45{
	background-position: 0 -11px;
}
.allstar50{
	background-position: 0 0px;
}
