/*css reset*/
html,body,p{ padding: 0; margin: 0; font-family: "微软雅黑",Arial,"宋体",sans-serif;font-size: 12px;} 
ol, ul {list-style: none; padding: 0; margin: 0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0;}
th,td { vertical-align: middle;}
a{text-decoration:none;	outline: none;hlbr:expression(this.onFocus=this.blur());}
input, select {vertical-align: middle;}
img, iframe {border: none; text-decoration:none;} 
strong {font-weight: bold;}
h1,h2,h3,h4,h5,h6{padding: 0; margin: 0; font-family: "微软雅黑",Arial,"宋体",sans-serif;}
:focus {outline: 0;}
/*css common*/
.f-left {float: left;}
.f-right {float: right;}
.clearfix:after{content: "";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
.clearfix{*zoom:1;}
.nodisplay{display: none;}
html, body, #wrap {height: 100%;min-width: 1024px;}
body > #wrap {height: auto; min-height: 100%;}
#main {padding-bottom: 65px;}  /* 必须使用和footer相同的高度 */
#footer {position: relative;margin-top: -65px; /* footer高度的负值 */clear:both;}
.inner {width: 950px;margin: 0 auto;}

/* .header css*/
.header{
	overflow: hidden;
	padding-bottom: 10px;
}
.header .inner div{
	float: left;
}
.header .logo{
	padding: 10px;
}
.header .search-box{
	position: relative;
	padding-top: 55px;
	padding-left: 80px;
}
.header input.search{
	width:296px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	
	border:1px solid #ddd;
	
}
.header input.button{
	width:16px;
	overflow: hidden;
	right:4px;
	text-indent: 10000px;
	height: 20px;
	bottom:5px;
	border:1px solid #fff;
	position: absolute;
	background: url(../images/glass.png) no-repeat 0px 4px;
	transition: background 0.5s linear;
	/* Firefox 4 */
	-moz-transition:background 0.5s linear;
	/* Safari and Chrome */
	-webkit-transition:background 0.5s linear;
	/* Opera */
	-o-transition:background 0.5s linear;
}
.header input.button.active{
	background: url(../images/glass.png) no-repeat 0px -31px;
}
.header input.search.active{
	border:1px solid #916a33;
	
}
.header .list-box{
	padding-top: 55px;
	padding-left: 70px;
}
.header .list-box a{
	font-size: 16px;
	margin: 0 10px;
}
.header .list-box a.first{
	color:#339868;
}
.header .list-box a.second{
	color:#a11715
}
.header .list-box a.third{
	color:#2a6f7e;
}
.header .list-box a.forth{
	color:#f37125;
}
#footer{
	height: 65px;
	background-color: #ccc;
}
#footer p{
	color: #fff; 
	line-height: 65px;
	text-align: center;

}
.common_header{
	background-color: #545652;
	overflow: hidden;
}
.common_header a{
	line-height: 26px;
	color: #d5d5d5;
	margin: 0 12px;
}
.same_header{
	background-color: #E3EBEC;
}
.same_header .top{
	border-bottom: 1px solid #ddd;
	width: 100%;
	overflow: hidden;
}
.same_header h2{
	font-size: 30px;
	font-weight: normal;
	line-height: 70px;
	float: left;
}
.same_header .search-box{
	padding-top:26px;
	padding-left: 66px;
	float: left;
}
.same_header .bottom a{
	line-height: 34px;
	font-size: 14px;
	margin-right: 20px;
}
.movie_header h2{
	color: #A11715;
}
.movie_header .bottom a{
	color: #a11715;
}
.movie_header .bottom a:hover{
	color: #fff;
	background-color: #a11715;
}
/* homepage css*/
.home-page .sec-1{
	overflow: hidden;
	height: 170px;
	background-color: #ffba00;
}
.home-page .sec-1 .form-box{
	padding-left: 100px;
	padding-top: 30px;
}
.home-page .sec-1 .input-box{
	padding-bottom: 15px;
	
}
.home-page .sec-1 .input-box input{
	height: 20px;
	line-height: 20px;
	border:1px solid #ddd;
	font-size: 12px;
	width: 160px;
	padding: 0 10px;
}
.home-page .sec-1 label{
	color:#9a633c;
}
.home-page .sec-1 .radio-box a{
	color:#9a633c;
	float: right;
	padding-top: 3px;
	font-size: 10px;
}
.home-page .sec-1 .radio-box a:hover{
	border-bottom: 1px solid #9a633c;
}
.home-page .sec-1 .btn-box{
	padding-top: 10px;
}
.home-page .sec-1 .btn-box input{
	width:60px;
	color: #fff;
	background-color: #9a633c;
	border:1px solid #9a633c;
	border-radius: 3px;
	height: 20px;
	display: block;
	float: left;
	font-size: 12px;
}

.home-page .sec-1 .btn-box a{
	display: block;
	width: 60px;
	float: left;
	color:#9a633c;
	/*background-color: #fff;*/
	border:1px solid #9a633c;
	margin-left: 10px;
	border-radius: 3px;
	text-align: center;
	height: 19px;
	line-height: 19px;
}
.home-page .sec-1 .btn-box a:hover{
	color: #fff;
	border:1px solid #fff;
}
.home-page .sec-1 h1{
	padding-top: 30px;
	color: #9a633c;
	font-size: 36px;
	line-height: 50px;
	text-align: right;
}
.home-page .sec-1 p{
	color: #9a633c;
	font-size: 20px;
	line-height: 60px;
}
.home-page .sec-1 .title{
	padding-right: 115px;
}
.home-page .section h2{
	color: #9a633c;
	font-weight: normal;

	line-height: 40px;
	font-size: 16px;
}
.home-page .section h4{
	color: #9a633c;
	font-weight: normal;
	display: inline-block;
	line-height: 40px;
	padding-top: 20px;
	font-size: 16px;
}
.home-page .sec-2 img{
	width: 950px;
}
.home-page .section{
	padding-bottom: 40px;
	overflow: hidden;
}
.home-page .sec-2{
	padding-bottom: 0px;
	margin-top: 40px;
}

.home-page .sec-3 .img-box{
	width: 360px;
	float: left;
	overflow: hidden;
}
.home-page .sec-3 .img-box li{
	float: left;
	width: 170px;
	margin: 0 10px 20px 0;
}
.home-page .sec-3 .img-box a{
	display: inline-block;
	color: #9a633c;

}
.home-page .sec-3 .img-box a:hover{
	color: #fff;
	background-color: #9a633c;
}
.home-page .sec-3 .img-box span{
	color: #999;
	font-size: 12px;
	padding-left: 4px;
}
.home-page .sec-3 .img-box img{
	width: 170px;
	height: 170px;
}
.home-page .sec-3 .list-box{
	float: left;
	width: 281px;
	height: 384px;
	overflow: hidden;
	padding-right:10px;
}
.home-page .sec-3 .list-box img{
	width: 265px;
}
.home-page .sec-3 .list-box li{
	padding-bottom: 20px;
}
.home-page .sec-3 .list-box a{
	display: inline-block;
	color: #9a633c;
}
.home-page .sec-3 .list-box a:hover{
	color: #fff;
	background-color: #9a633c;
}
.home-page .sec-3 .list-box span{
	display: block;
	line-height: 20px;
	color: #999;
}
.home-page .sec-3 .list-box p{
	color: #ccc;
	line-height: 20px;
}
.home-page .sec-4{
	background-color: #f7f7f7;
}
.home-page .section h3{
	font-size: 26px;
	font-weight: normal;
	line-height: 80px;
}
.home-page .sec-4 h3{
	color: #339868;
}
.home-page .section .list{
	width: 109px;
}
.home-page .sec-4 a{
	color: #339868;
	font-size: 14px;
}
.home-page .sec-4 a:hover{
	color: #fff;
	background-color: #339868;
}
.home-page .section .new .pic a:hover{
	background-color: transparent;
}
.home-page .section .list li{
	padding-bottom: 10px;
}
.home-page .section .new{
	width: 520px;
	padding-right: 30px;
}
.home-page .section .new li{
	float: left;
	padding: 15px;
}
.home-page .section .new li .pic{
	height: 148px;
	width: 100px;
	overflow: hidden;
}
.home-page .section .new li .pic img{
	width: 100px;
}
.home-page .section .new p{
	line-height:30px; 
	width: 100px;
	color: #999;
	text-align: center;
}
.home-page .section .tags li{
	width: 290px;
}
.home-page .section .tags li {
	padding-bottom: 14px;
	border-bottom: 1px solid #ddd;
}
.home-page .section .tags li a{
	font-size: 12px;
	margin: 0 5px;
}

.home-page .section .tags span{
	color: #999;
}
.home-page .sec-5 .list h3{
	color: #a11715;
}
.home-page .sec-5 a{
	color: #a11715;
	font-size: 14px;
}
.home-page .sec-5 a:hover{
	color: #fff;
	background-color: #a11715;
}
.home-page .sec-5 .new span{
	display: inline-block;
	height: 11px;
	background: url(../images/midstars.gif);
	overflow: hidden;
	width: 55px;
	margin: 0 8px;
}
.home-page .sec-5 .new i{
	color: #f40;
}
.home-page .sec-6{
	background-color: #f7f7f7;
}
.home-page .sec-6 .right{
	width: 291px;
}
.home-page .sec-6 .right li a{
	line-height: 40px;
}
.home-page .sec-6 .list h3{
	color: #2A6F7E;
}
.home-page .sec-6 a{
	color: #2A6F7E;
	font-size: 14px;
}
.home-page .sec-6 .hot li{
	float:left;
	width: 240px;
	padding-right: 20px;
	padding-bottom: 40px;

}
.home-page .sec-6 .hot p{
	color: #999;
}
.home-page .sec-6 .hot .img-box{
	float: left;
	width:48px;
	margin-right: 15px;
	margin-bottom: 10px;
	display: block;
}
.home-page .sec-6 .hot .img-box:hover{
	background-color: transparent;
}
.home-page .sec-6 .hot .img-box img{
	width: 48px; 
}
.home-page .sec-6 .classify a.parents{
	color: #444;
	line-height: 20px;

}
.home-page .sec-6 a.parents:hover{
	color: #fff;
	background-color: #2A6F7E;
}
.home-page .sec-6 a:hover{
	color: #fff;
	background-color: #2A6F7E;
}
.home-page .sec-6 .hot{
	width:520px;
}
.movie-page .con{
	width: 617px;
	padding-right: 20px;
}
.movie-page .section{
	overflow: hidden;
	width: 100%;
}
.movie-page .section .top h3{
	color: #111;
	float: left;

	font-weight: normal;
	font-size: 16px;
	line-height: 40px;
	padding-right: 20px;
}
.movie-page .section .top {
	overflow: hidden;
	padding-top: 20px;
	margin-right: 35px;
	border-bottom:1px solid #ddd;
}
.movie-page .section .top a{
	line-height: 40px;
	color: #A11715;
	margin-right: 10px;

}
.movie-page .section .top a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-page .sec-1 {
	position: relative;
}
.movie-page .sec-1 .bottom {
	padding-top: 17px;
}
.movie-page .section .bx-controls{
	position: absolute;
	right: 32px;
	top: 31px;
}
.movie-page .section .bx-pager{
	float: left;
	margin-right: 5px;
}
.movie-page .section .bx-pager-item{
	float: left;
	margin:0 5px;
	width: 5px;
	height: 5px;
}
.movie-page .section .bx-pager-link{
	background-color: #dfdfdf;
	border-radius: 5px;
	margin-top:7px;
	text-indent: 100px;
	overflow: hidden;
	display: block;
	float: left;
	width: 5px;
	height: 5px;
}
.movie-page .section .bx-pager-link.active{
	background-color: #9B9A8F;
}
.movie-page .section .bx-controls-direction{
	float: left;
	
}
.movie-page .section .bx-controls-direction a{
	background: url(../images/controls.png) no-repeat;
	display: block;
	float: left;
	margin:0 3px;
	background-size: 60px;
	text-indent: 100px;
	width: 20px;
	height: 20px;
	overflow: hidden;
}
.movie-page .section .bx-controls-direction a.bx-next{
	background-position: -27px 0px;
}
.movie-page .section .bx-controls-direction a.bx-next:hover{
	background-position: -27px -20px;

}
.movie-page .section .bx-controls-direction a.bx-prev:hover{
	background-position: 0px -20px;

}
.movie-page .sec-1 .bottom img{
	width:128px;
}
.movie-page .sec-1 .bottom p{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #111;
}
.movie-page .sec-1 .bottom span{
	display: inline-block;
	height: 11px;
	background: url(../images/midstars.gif);
	overflow: hidden;
	width: 55px;
	margin: 0 20px;
}
.movie-page .sec-1 .bottom i{
	color: #f40;
}
.movie-page .sec-2 .tab{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-bottom: 10px;
}
.movie-page .sec-2 .tab a{
	color: #a11715;
	font-size: 14px;
	margin: 10px 5px 0  5px;
	padding: 0 10px;
	display: block;
	text-align: center;
	border:1px solid #fff;
	float: left;
}
.movie-page .sec-2 .tab a:hover{
	background-color: #a11715;
	color: #fff;
	border:1px solid #a11715;
	border-radius: 3px;
}
.movie-page .sec-2 .chose{
	overflow: hidden;
}
.movie-page .sec-2 label{
	font-size: 12px;
	margin-right: 10px;
	color: #111;
	line-height: 20px;
	padding-top: 5px;
	display: inline-block;
}
.movie-page .sec-2 label input{
	padding: 0;
	margin:0 3px;
}
.movie-page .sec-2 .tip{
	margin-top: 8px;
	background-color: #Fdfce4;
	color: #777;
	line-height: 30px;
	padding: 0 10px;
	border:1px solid #fbf2b6;
}
.movie-page .sec-2 .tip a{
	color: #a11715;
	margin-right: 5px;
}
.movie-page .sec-2 .tip a:hover{
	background-color: #a11715;
	color: #fff;
}
.movie-page .sec-2 .movies {
	padding-top: 20px;
}
.movie-page .sec-2 .movies ul{
	overflow: hidden;
}
.movie-page .sec-2 .movies li{
	width:140px;
	float: left;
	margin:0 5px;
	height:249px;
	background: url(../images/movie-default-large.gif) no-repeat top center;
}
.movie-page .sec-2 .movies img{
	width: 140px;
}
.movie-page .sec-2 .movies p{
	color: #a11715;
	text-align: center;
	padding-top: 10px;
	line-height: 20px;
}
.movie-page .sec-2 .movies i{
	color: #f40;
}
.movie-page .sec-2 .ajax-button{
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 100%;
}
.movie-page .sec-2 .ajax-button a{
	color: #a11715;
	font-size: 14px;
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
}
.movie-page .sec-2 .ajax-button a:hover{
	background-color: #f0f0f0;
}
.movie-page .sec-3{
	position:relative;
}
.movie-page .sec-3 .big-slider{
	padding-top: 10px;
}
.movie-page .sec-3 .big-slider .text-box{
	padding: 0 20px;
	width:200px;
	height: 240px;
	background-color: #f0f0f0;

}
.movie-page .sec-3 .big-slider h4{
	font-size: 20px;
	font-weight: normal;
	line-height: 40px;
	padding-bottom: 30px;
	color: #a11715
}
.movie-page .sec-3 .big-slider p{
	color: #999;
	line-height: 20px;
	font-size: 14px;
}
.movie-page .sec-3 .big-slider span{
	color: #a11715;
}
.movie-page .sec-4 span{
	display: inline-block;
	height: 11px;
	background: url(../images/midstars.gif);
	overflow: hidden;
	width: 55px;
	margin: 0 8px;
}
.movie-page .sec-4 li{
    padding:20px 0 10px;
    border-bottom:1px solid #ddd;
    overflow: hidden;
    margin-right: 35px;
} 
.movie-page .sec-4 li .img-box{
    padding-right:20px;
    
}
.movie-page .sec-4 li .text-box{
	width: 490px;
}
.movie-page .sec-4 li .text-box h5 a{  
   font-size:14px;
   font-weight:normal;
   line-height:26px;
   color:#a11715;
}
.movie-page .sec-4 li .text-box p a{  
   color:#666; 
}
.movie-page .sec-4 li .text-box p {  
   color:#666; 
   line-height: 20px;
}
.movie-page .sec-4 li .text-box p a:hover {
    color:#fff;
    background-color:#a11715;
}
.movie-page .sec-4 li .text-box a:hover {
    color:#fff;
    background-color:#a11715;
}
.movie-page .sec-4 li .text-box p.detail {
	color: #111;  
	padding-top: 5px;
}
.movie-page .sec-4 li .text-box a.all{
	color: #a11715;
}
.movie-page .sider{
	width: 313px;
}
.movie-page .sider .ad{

	padding-top: 50px;
	margin-bottom: 20px;
}
.movie-page .sider .ad img{
	width: 300px;
	height: 250px;
}
.movie-page .sider .hot{
	background-color: #fbecc9;
	border-radius: 3px;
	padding: 10px;

}
.movie-page .sider .hot h3{
	color:#9a633c;
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
}
.movie-page .sider .hot li a{
	line-height: 26px;
	margin-left: 20px;
	color: #a11715;

}
.movie-page .sider .hot li a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-page .sider .list-box h3{
	color: #111;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 20px;
}
.movie-page .sider .list-box .title{
	overflow: hidden;
	padding-top: 20px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}
.movie-page .sider .list-box .title a{
	color: #a11715;
    line-height: 40px;
    margin-right: 10px;
}
.movie-page .sider .list-box .title a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-page .sider .list-box li{
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
	line-height: 40px;
}
.movie-page .sider .list-box li a{
	color: #a11715;
	margin-left: 10px;

}
.movie-page .sider .list-box li a:hover{
	color: #fff;
	background-color: #a11715;
}

/*css movie ranking*/
.movie-ranking-page .con .sec-4 .top{
	border-bottom: 1px dashed #ddd;
}
.movie-ranking-page .con .sec-4 h2{
	font-weight: normal;
	font-size: 20px;
	line-height: 34px;
}
.movie-ranking-page .con .sec-4 h3{
	padding-bottom: 5px;
}
.movie-ranking-page .con .text-box{
	width: 490px;
}
.movie-ranking-page .con .text-box p{
	padding-bottom: 10px;
}
.movie-ranking-page .con span{
	margin:0 8px 0 0;
}
.movie-ranking-page .con i{
	color: #f40;
	margin-right: 8px;
}
.movie-ranking-page .sider h4{

	color: #111;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 20px;
}
.movie-ranking-page .sider .classify a{
	color: #a11715;
	padding: 0 10px;
	margin-right: 5px;
}
.movie-ranking-page .sider .classify a:hover{
	color:#fff;
	background-color: #a11715;
}
.movie-ranking-page .sider h5{
	color: #666;
	font-weight: normal;
	float: right;
	font-size: 10px;
}
.movie-ranking-page .sider .list-box{
	padding-bottom: 20px;
}
.movie-ranking-page .sider .list-box .title{
	border-bottom: 1px dashed #ddd;

}
.movie-ranking-page .sider .list-box li{
	border-bottom: 1px dashed #ddd;
	line-height: 30px;
}
.movie-ranking-page .sider .top250 .title{
	overflow: hidden;
	padding-bottom: 10px;
}
.movie-ranking-page .sider .top250 h3{
	color: #111;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 20px;
}
.movie-ranking-page .sider .top250 .title a{

	color: #a11715;
    line-height: 40px;
    margin-right: 10px;
}
.movie-ranking-page .sider .top250 .title a:hover{
	color: #fff;
	background-color: #a11715;
}
.movie-ranking-page .sider .top250 li{
	float: left;
	margin: 0 13px 10px 0; 
	width: 65px;
}
.movie-ranking-page .sider .top250 p a{
	color: #a11715;
}
.movie-ranking-page .sider .top250 p a:hover{
	background-color: #a11715;
	color: #fff;
}

/*css movie-classify-page*/
.movie-classify-page .con .section h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}
.movie-classify-page .con .list-box h4{
	color: #111;
	font-weight: normal;
	line-height: 30px;
	font-size: 14px;
}
.movie-classify-page .con .list-box li{
	float: left;
}
.movie-classify-page .con .list-box li a{
	color: #a11715;
	padding: 0 10px;
	margin-right: 35px;
	line-height: 20px;
	display: block;
	border-radius: 3px;
}
.movie-classify-page .con .list-box li a:hover{
	color: #fff;
	background-color: #a11715;
}

.movie-comment-page .section .bottom h5{
	padding-left: 10px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 4px;
	background-color: #f5f5f5;
}
.movie-comment-page .section .bottom h5 .icon{
	background:url(../images/triangle.png) no-repeat 1px 5px ;
	float: right;
	display: block;
	text-indent: 100px;
	width: 46px;
	overflow: hidden;
	height: 20px;
}
.movie-comment-page .section .bottom h5 .icon:hover{
	background-color: transparent;
}
.movie-comment-page .section .bottom h5 .icon.active{
	background-position: 1px -9px;
}
.movie-comment-page .section .bottom p{
	padding-left: 10px;
}















.allstar00{
	background-position: 0 -110px;
}

.allstar05{
	background-position: 0 -88px;
}
.allstar15{
	background-position: 0 -77px;
}
.allstar20{
	background-position: 0 -66px;
}
.allstar25{
	background-position: 0 -55px;
}
.allstar30{
	background-position: 0 -44px;
}
.allstar35{
	background-position: 0 -33px;
}
.allstar40{
	background-position: 0 -22px;
}
.allstar45{
	background-position: 0 -11px;
}
.allstar50{
	background-position: 0 0px;
}
