<script type="text/javascript">



	function signNull(){
		$.post('signNull',function(data){
			if(!data==''){
				$('p.bri').show();
				$('i.edit').hide();

			}else{
				$('i.edit').show();
				
				$('p.bri').hide();
			}

		})
	}

	signNull();


</script>

<div class="user-info">
	<div class="info-box f-left">
		<empty name="face['image']">
			<img src="__PUBLIC__/images/default_face.jpg"/>
		<else />
			<img src="{$face['image']}"/>
		</empty>
	</div>
	<div class="user-name f-left">
		<h3>{$data['name']}</h3>
		
		
		

		<i class="edit">这个人很懒~</i>
		
		<p class="bri">{$data.sign}</p>
	</div>
</div>
<div class="link-box">
	<ul>
		<li><a href="{:U('User/myHome')}">{$data['name']}的主页</a></li>
		<li><a href="">广播</a></li>
		<li><a href="{:U('User/album')}">{$data['name']}的相册</a></li>
		<li><a href="{:U('User/diary')}">{$data['name']}的日记</a></li>
		<li><a href="">喜欢</a></li>
		<li><a href="">蜂蜜</a></li>
	</ul>
</div>
<script type="text/javascript">

	$('.user-name a').click(function(){
		$(this).parents('i').hide();
		$('.brief').show();
		$('p.bri').hide();
	})
</script>