<div class="user-info">
	<div class="info-box f-left">
		<img src="__PUBLIC__/images/face2.jpg"/>
	</div>
	<div class="user-name f-left">
		<h3>Leevian</h3>
		<p></p>
		<i><a href="javascript:;">(添加签名档)</a></i>
		<div class="brief">
			<form>
				<input type="text" name="introduce"/>
				<input type="submit" value="修改"> 
				<input type="button" value="取消"> 
			</form>
		</div>
	</div>
</div>
<div class="link-box">
	<ul>
		<li><a href="">我的主页</a></li>
		<li><a href="">广播</a></li>
		<li><a href="">相册</a></li>
		<li><a href="{:U('Home/User/diary')}">日记</a></li>
		<li><a href="">喜欢</a></li>
		<li><a href="">蜂蜜</a></li>
	</ul>
</div>
<script type="text/javascript">

	$('.user-name i a').click(function(){
		$(this).hide();
		$(this).parents('i').siblings('.brief').show();
	})
</script>