<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    <include file="./Application/Home/View/Index/inc_common_head.html" />
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<script type="text/javascript" src="files/js/jquery.bxslider.min.js"></script>
		<script type="text/javascript">
			
		</script>
		<!-- END 自定义 head -->
	</head>
	<body class="home-page">
		<div id="wrap">
			<!-- START header -->
		    <include file="./Application/Home/View/Index/inc_header.html" />
			    
			<!-- END header -->
			
			<div id="main">
				<div class="section sec-1">
					<div class="inner"/>
						<div class="f-left form-box">
							<form>
								<div class="input-box">
									<input type="text" name="name"/><span></span>
								</div>
								<div class="input-box">
									<input type="password" name="psw"/><span></span>
								</div>
								<div class="radio-box">
									<input type="checkbox" name="rember"/><label for="rember">记住我</label>
									<a href="">忘记密码</a>
								</div>
								<div class="btn-box">
									<input type="submit" value="登录">
									<a href="">注册</a>
								</div>
							</form>
						</div>
						<div class="f-right title">
							<h1>蜂巢</h1>
							<p>你想要的都有</p>
						</div>
					</div>
				</div>
				<div class="section sec-2">
					<div class="inner">
						<h2>热点内容 ·······</h2>
						<div class="img-box">
							<ul>
								<li>
									<a href="">
										<img src=""/>
										<span><strong></strong></span>
									</a>
								</li>
								<li>
									<a href="">
										<img src=""/>
										<span><strong></strong></span>
									</a>
								</li>
								<li>
									<a href="">
										<img src=""/>
										<span><strong></strong></span>
									</a>
								</li>
								<li>
									<a href="">
										<img src=""/>
										<span><strong></strong></span>
									</a>
								</li>
							</ul>
						</div>
						<div class="list-box">
							<ul>
								<li><a href=""></a><p></p></li>
								<li><a href=""></a></li>
								<li><a href=""></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- START footer -->
		    <!--#include file="inc_footer.html"-->
		<!-- END footer -->
	</body>
</html>
