<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		    
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>

		<script type="text/javascript">
			$(function(){
				$('.sec-2 ul').bxSlider({
					auto:true,
					pager:false,
					controls:false
				});
			})
		</script>
		<style>
			.last_one li{
				border-bottom: 1px solid #ddd;
			    line-height: 40px;
			    padding-left: 10px;
			 
			}
		</style>
		<!-- END 自定义 head -->
	</head>
	<body class="home-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/indexHeader')}
			    
			<!-- END header -->
			
			<div id="main">
				
				<if condition="$show eq 0">
				<div class="section sec-1">
					<div class="inner"/>
						<div class="f-left form-box">
							<form method="post" onsubmit="return sub()"action="{:U('Common/dologin')}">
								<div class="input-box">
									<label for="info">账号</label><input class="info" type="text" name="info"/>
								</div>
								<div class="input-box">
									<label for="key">密码</label><input  class="key"type="password" name="key"/>
								</div>
								<div class="radio-box">
									<input type="checkbox" name="auto"/><label for="rember">记住我</label>
									<a href="">忘记密码</a>
								</div>
								<div class="btn-box">
									<input type="submit" value="登录">
									<a href="{:U('Common/register')}">注册</a>
								</div>
							</form>
						</div>
						<div class="f-right title">
							<h1>蜂巢</h1>
							<p>你想要的都有</p>
						</div>
					</div>
				</div>
				</if>
				<div class="section sec-2">
					<div class="inner">
						<ul>
							<foreach name="list_a" item="vo">
							<li><a href="http://{$vo.link}"><img src="__PUBLIC__{$vo.i_path}{$vo.i_name}"></a></li>
							</foreach>
						</ul>
					</div>
				</div>
				<div class="section sec-3">
					<div class="inner">
						<h2>热点内容 ·······</h2>
						<div class="img-box">
							<ul>
								<foreach name="album" item="vo">
									<li>
										<a href="{:U('album/photolist')}?id={$vo.a_id}">
											<img src="__PUBLIC__{$vo.path}/{$vo.p_name}"/>
										</a>
										<a href="{:U('album/photolist')}?id={$vo.a_id}">{$vo.a_name}</a>

									</li>
								</foreach>
							</ul>
						</div>
						<div class="list-box">
							<ul>
								<foreach name="diary" key="k" item="vo">
									<if condition="$k eq 0">
									
										<li class="first">

											<a href="{:U('diary/diaryDetail')}?id={$vo.d_id}">{$vo.title}</a>
											<span>{$vo.u_name}</span>

											<p>{$vo.content|subtext="40"}</p>
										</li>
									</if>
									<if condition="$k neq 0">
									<li><a href="{:U('diary/diaryDetail')}?id={$vo.d_id}">{$vo.title}</a></li>
									</if>
								</foreach>
							</ul>
						</div>
						<div class="list-box">
							<ul>
								<li><img src="__PUBLIC__/images/ad3.jpg"></li>

								
							</ul>
						</div>
					</div>
				</div>
				<div class="section sec-4">
					<div class="inner">
						<div class="f-left list">
							<h3>读书</h3>
							<ul>
								<li><a href="__MODULE__/Book/index">图书首页</a></li>
								<li><a href="__MODULE__/Book/chose">选图书</a></li>
								<li><a href="__MODULE__/Book/ranking">排行榜</a></li>
								<li><a href="__MODULE__/Book/comment">书评</a></li>
							</ul>
						</div>
						<div class="f-left new">
							<h4>新书速递 ·······</h4>
							<ul>
								<foreach name="row1" item="vo">
									<li>
										<div class="pic">
											<a href="__MODULE__/Book/books/id/{$vo.bid}"><img src="__PUBLIC__{$vo.i_path}{$vo.name}"/></a>

										</div>
										<p><a href="">{$vo.bname}</a></p>
											<p>评分 <i>{$vo.score}</i></p>

									</li>
								</foreach>
							</ul>
						</div>
						<div class="f-left tags">
							<h4>热门标签 ·······</h4><a href="">（更多）</a>
							<ul class="last_one">							
								<!-- <li>
									<span>[文学]</span>
									<a href="">小说</a>
									<a href="">随笔</a>
								
								</li> -->
								<foreach name="r1" item="vo" key="k">
                                <li>{$k+1}<a href="__MODULE__/Book/books/id/{$vo.id}"> {$vo.name}</a></li>
                               	</foreach>

							</ul>
						</div>
					</div>
				</div>
				<div class="section sec-5">
					<div class="inner">
						<div class="f-left list">
							<h3>电影</h3>
							<ul>
								<li><a href="__MODULE__/Movie/index">电影首页</a></li>
								<li><a href="__MODULE__/Movie/chose">选电影</a></li>
								<li><a href="__MODULE__/Movie/ranking">排行榜</a></li>
								<li><a href="__MODULE__/Movie/comment">影评</a></li>
							</ul>
						</div>
						<div class="f-left new">
							<h4>正在热映 ·······</h4>
							<ul>
								<foreach name="row" item="vo">
									<li>
										<div class="pic">
											<a href="__MODULE__/Movie/detail/id/{$vo.mid}"><img src="__PUBLIC__{$vo.i_path}{$vo.name}"/></a>

										</div>
										<p><a href="">{$vo.mname}</a></p>
											<p>评分 <i>{$vo.score}</i></p>

									</li>
								</foreach>
							</ul>
						</div>
						<div class="f-left right">
							<!-- <h4>影片分类 ·······</h4><a href="">（更多）</a>
								<div class="classify">
									<a href="">小说</a>
									<a href="">随笔</a>
								</div> -->
							<h4>近期热门 ·······</h4><a href="__MODULE__/Movie/index">（更多）</a>
							<ul class="last_one">
                            	<foreach name="r" item="vo" key="k">
                                <li>{$k+1}<a href="__MODULE__/Movie/detail/id/{$vo.id}"> {$vo.name}</a></li>
                               	</foreach>
                        	</ul>
							
						</div>
					</div>
				</div>
				<!-- <div class="section sec-6">
					<div class="inner">
						<div class="f-left list">
							<h3>小组</h3>
							<ul>
								<li><a href="">精选</a></li>
								<li><a href="">分化</a></li>
								<li><a href="">行摄</a></li>
								<li><a href="">娱乐</a></li>
								<li><a href="">时尚</a></li>
								<li><a href="">生活</a></li>
								<li><a href="">科技</a></li>
							</ul>
						</div>
						<div class="f-left hot">
							<h4>热门小组 ·······</h4><a href="">（更多）</a>
							<ul>
								<li>
									<a class="img-box">
										<img src="__PUBLIC__/images/group1.jpg"/>
									</a>
									<p><a href="">你荒废时间的时候会有多少人在拼命</a></p>
									<p>119343 个成员</p>
								</li>
								<li>
									<a class="img-box">
										<img src="__PUBLIC__/images/group1.jpg"/>
									</a>
									<p><a href="">你荒废时间的时候会有多少人在拼命</a></p>
									<p>119343 个成员</p>
								</li>
								<li>
									<a class="img-box">
										<img src="__PUBLIC__/images/group1.jpg"/>
									</a>
									<p><a href="">你荒废时间的时候会有多少人在拼命</a></p>
									<p>119343 个成员</p>
								</li>
								<li>
									<a class="img-box">
										<img src="__PUBLIC__/images/group1.jpg"/>
									</a>
									<p><a href="">你荒废时间的时候会有多少人在拼命</a></p>
									<p>119343 个成员</p>
								</li>

							</ul>
						</div>
						<div class="f-left right">
							<h4>小组分类 ·······</h4>
								<div class="classify">
									<ul>
										<li>
											<p><a class="parents" href="">兴趣》</a></p>
											<a href="">小说</a>
											<a href="">随笔</a>
										</li>
									</ul>
								</div>

							
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		    
		<!-- END footer -->
		
	</body>
</html>
