<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload.css">  
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload-ui.css"> 
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.fileupload.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.iframe-transport.js"></script> 

		<script type="text/javascript">
			function sub(obj){
				var msg = $(obj).find('textarea').val();
				// alert(msg);
				var u_id = $(obj).find('.u_id').val();
				var p_id = $(obj).find('.p_id').val();
				alert(u_id);
				alert(p_id);
				$.post('sendMessage',{u_id:u_id,p_id:p_id,content:msg},function(data){
					
				})
				return false;
			}


		</script>
		<!-- END 自定义 head -->
	</head>
	<body class="user-page user-message-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/allHeader')}
		    {:W('Common/userHeader')}

			<!-- END header -->
			
			<div id="main">
				<div class="inner clearfix">
					<div class="con">
						<div class="title">	
							<h2>我和{$p_user.name}的私信对话</h2>
						</div>
						<div class="form-info">
							<form onsubmit="return sub(this)">
								<div class="img-box">
									<notempty name="me.image">
										<img src="{$me.image}">
									<else />
										<img src="__PUBLIC__/images/default_face.jpg"/>
									</notempty>
								</div>
								<div class="conversation-box">
									<input type="hidden" class="u_id" value="{$me.id}"/>
									<input type="hidden" class="p_id" value="{$other.id}"/>
									<div class="textarea">
										<textarea name="conversation"></textarea>
									</div>

									
									<div class="btn-box">
										<input type="submit" value="发送"/>
									</div>
								</div>
								
							</form>
						</div>
						<div class="message-box">
							<div class="me-box">
								<div class="img-box">
									<notempty name="me.image">
										<img src="{$me.image}">
									<else />
										<img src="__PUBLIC__/images/default_face.jpg"/>
									</notempty>
								</div>
								<div class="text-box">
									<p>fdsfdssssssssssssssfesgrsg</p>
									<p class="time">1yue 1hao </p>
									<i></i>
								</div>
								
							</div>
							<div class="other-box">
								<div class="img-box">
									<notempty name="other.image">
										<img src="{$other.image}">
									<else />
										<img src="__PUBLIC__/images/default_face.jpg"/>
									</notempty>
								</div>
								<div class="text-box">
									<p>fdsfdssssssssssssssfesgrsg</p>
									<p class="time">1yue 1hao </p>

									<i></i>
								</div>
								
							</div>
						</div>
					</div>
					
				
				</div>
			</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		<!-- END footer -->

		<script type="text/javascript">
			
		</script>

	</body>
</html>
