<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload.css">  
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload-ui.css"> 
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.fileupload.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.iframe-transport.js"></script> 

		<script type="text/javascript">
			$(function(){
				
			})
		</script>
		<!-- END 自定义 head -->
	</head>
	<body class="user-page user-like-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/allHeader')}
		    {:W('Common/userHeader')}

			<!-- END header -->
			
			<div id="main">
				<div class="inner clearfix">
					<div class="con">
						<h2>我的广播</h2>
						<div class="tab-box">
							<a rel="1" class="active"href="javascript:;">全部</a>
							<a rel="2" href="javascript:;">日记</a>
							<a rel="3" href="javascript:;">相册</a>
							<a rel="4" href="javascript:;">说说</a>
							
						</div>
						<div class="info-box">
							<div class="list nodisplay sub-1">
								<ul>
									<foreach name="like_list" item="vo" key="k">
										
										<switch name="vo.action">
											<case value="album">
												<li class="album">
													<div class="face-box "style="display:block">
														
														<empty name="vo.info.image">
															<img src="__PUBLIC__/images/default_face.jpg">
														<else/>
															<img src="__PUBLIC__{$vo.info.image}"/>
														</empty>
													</div>
													<div class="album info">
														<p><a href="{:U('people/index')}?p_id={$vo.info.u_id}">{$vo.info.name}</a>的相册: </p>
														<div class="detail">
															<div class="img-box">
																<a href="{:U('album/photoList')}?id={$vo.info.id}&p_id={$vo.info.u_id}">
																	<notempty name="vo.info.photo">
																		<foreach name="vo.info.photo" item="va" key="key">
																			<img src="__PUBLIC__/{$va.path}/{$va.name}"/>
																		</foreach>
																	<else/>
																		<p>还没发照片</p>
																	</notempty>

																</a>
															</div>
															
															
														</div>
														<div class="time">
															<p>{$vo.info.time|date="Y-m-d H:i:s",###}</p>
														</div>
													</div>
												</li>
											</case>
											<case value="diary">
												<li class="diary">
													<div class="face-box" style="display:block">
														<empty name="vo.info.image">
															<img src="__PUBLIC__/images/default_face.jpg">
														<else/>
															<img src="__PUBLIC__{$vo.info.image}"/>
														</empty>
													</div>
													<div class="diary info">
														<p><a href="{:U('People/index')}?p_id={$vo.info.u_id}">{$vo.info.u_name}</a>的日记: </p>
														<div class="detail">
															<a class="title" href="{:U('diary/diaryDetail')}?id={$vo.info.id}&p_id={$vo.info.u_id}">
																{$vo.info.title}
															</a>
															<p>{$vo.info.content} </p>
															
														</div>
														<div class="time">
															<p>{$vo.time|date="Y-m-d H:i:s",###}</p>
														</div>
													</div>
												</li>
											</case>
											<case value="say">
												<li class="album">
													<div class="face-box "style="display:block">
														
														<empty name="vo.info.image">
															<img src="__PUBLIC__/images/default_face.jpg">
														<else/>
															<img src="__PUBLIC__{$vo.info.image}"/>
														</empty>
													</div>
													<div class="album info">
														<p><a href="{:U('people/index')}?p_id={$vo.info.u_id}">{$vo.info.name}</a>的说说: </p>
														<div class="detail">
															<div class="img-box">
																<a href="{:U('album/photoList')}?id={$vo.info.id}&p_id={$vo.info.u_id}">
																	<notempty name="vo.info.photo">
																		<foreach name="vo.info.photo" item="va" key="key">
																			<img src="__PUBLIC__/{$va.name}"/>
																		</foreach>
																	<else/>
																		<p>还没发照片</p>
																	</notempty>

																</a>
															</div>
															
															
														</div>
														<div class="time">
															<p>{$vo.info.time|date="Y-m-d H:i:s",###}</p>
														</div>
													</div>
												</li>
											</case>
										</switch>
									</foreach>
								</ul>

							</div>
						
							<div class="list nodisplay sub-2">
								<ul>
									<foreach name="like_list" item="vo" key="k">

										<if condition="$vo.action eq diary">
											<li class="diary">
												<div class="face-box" style="display:block">
													<empty name="vo.info.image">
														<img src="__PUBLIC__/images/default_face.jpg">
													<else/>
														<img src="__PUBLIC__{$vo.info.image}"/>
													</empty>
												</div>
												<div class="diary info">
													<p><a href="{:U('People/index')}?p_id={$vo.info.u_id}">{$vo.info.u_name}</a>的日记: </p>
													<div class="detail">
														<a class="title" href="{:U('diary/diaryDetail')}?id={$vo.info.id}&p_id={$vo.info.u_id}">
															{$vo.info.title}
														</a>
														<p>{$vo.info.content} </p>
														
													</div>
													<div class="time">
														<p>{$vo.time|date="Y-m-d H:i:s",###}</p>
													</div>
												</div>
											</li>
										</if>
									</foreach>
								</ul>
							</div>
				
							<div class="list nodisplay sub-3">
								<ul>
									<foreach name="like_list" item="vo" key="k">
										<if condition="$vo.action eq album">
											<li class="album">
												<div class="face-box "style="display:block">
													
													<empty name="vo.info.image">
														<img src="__PUBLIC__/images/default_face.jpg">
													<else/>
														<img src="__PUBLIC__{$vo.info.image}"/>
													</empty>
												</div>
												<div class="album info">
													<p><a href="{:U('people/index')}?p_id={$vo.info.u_id}">{$vo.info.name}</a>的相册: </p>
													<div class="detail">
														<div class="img-box">
															<a href="{:U('album/photoList')}?id={$vo.info.id}&p_id={$vo.info.u_id}">
																<notempty name="vo.info.photo">
																	<foreach name="vo.info.photo" item="va" key="key">
																		<img src="__PUBLIC__/{$va.path}/{$va.name}"/>
																	</foreach>
																<else/>
																	<p>还没发照片</p>
																</notempty>

															</a>
														</div>
														
														
													</div>
													<div class="time">
														<p>{$vo.info.time|date="Y-m-d H:i:s",###}</p>
													</div>
												</div>
											</li>
										</if>
									</foreach>
								</ul>
							</div>
						
					
							<div class="list nodisplay sub-4">
								
								<ul>
									<foreach name="like_list" item="vo" key="k">
										<if condition="$vo.action eq say">
											<li class="album">
												<div class="face-box "style="display:block">
													
													<empty name="vo.info.image">
														<img src="__PUBLIC__/images/default_face.jpg">
													<else/>
														<img src="__PUBLIC__{$vo.info.image}"/>
													</empty>
												</div>
												<div class="album info">
													<p><a href="{:U('people/index')}?p_id={$vo.info.u_id}">{$vo.info.name}</a>的说说: </p>
													<div class="detail">
														<div class="img-box">
															<a href="{:U('album/photoList')}?id={$vo.info.id}&p_id={$vo.info.u_id}">
																<notempty name="vo.info.photo">
																	<foreach name="vo.info.photo" item="va" key="key">
																		<img src="__PUBLIC__/{$va.name}"/>
																	</foreach>
																<else/>
																	<p>还没发照片</p>
																</notempty>

															</a>
														</div>
														
														
													</div>
													<div class="time">
														<p>{$vo.info.time|date="Y-m-d H:i:s",###}</p>
													</div>
												</div>
											</li>
										</if>
									</foreach>
								</ul>
							</div>


						</div>
					
						
					</div>
					
				
				</div>
			</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		<!-- END footer -->

		<script type="text/javascript">
			$(function(){
				$('.sub-1').show();
				$('.tab-box a').click(function(){
					var index = $(this).attr('rel');
					var subIndex = '.sub-'+index;
					$('.list').hide();
					$(subIndex).show();
					$('.tab-box a').removeClass('active');
					$(this).addClass('active');
				})

			})
		</script>

	</body>
</html>
