<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload.css">  
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload-ui.css"> 
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.fileupload.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.iframe-transport.js"></script> 

		<script type="text/javascript">
			$(function(){
				$('.sec-2 ul').bxSlider({
					auto:true,
					pager:false,
					controls:false
				});
				var int_show = false;
				var status = false;
				$('.setting a.set').click(function(){
					if(!int_show){
						$('.interesting').slideDown();
						int_show = true;
					}else{
						$('.interesting').hide();
						int_show = false;
					}

				})

				$('.btn-box a').click(function(){
					if(!int_show){
						$('.interesting').slideDown();
						int_show = true;
					}else{
						$('.interesting').hide();
						int_show = false;
					}
				})

				$('.theme a').click(function(){
					
					if($(this).hasClass('on')){
						$(this).removeClass('on');
					}else{
						$(this).addClass('on');
					}
				})
				$('.top li a.icon').click(function(){
					$('.top li img').hide();
					$(this).parents('li').find('img').show();
					$('.text .input-box textarea').addClass('active');
					if($(this).parents('li').hasClass('sec')){
						$('.file-image').addClass('hide');
						$('.file-image').removeClass('active');
						$('.img-upload').addClass('show');
						status = true;
					}else{
						$('.file-image').addClass('active');
						$('.img-upload').removeClass('show');
						$('.file-image').removeClass('hide');

					}
					$('.publish').show();
				})

				$('.file-image a').click(function(){

					$(this).parents('span').addClass('hide');
					$('.img-upload').addClass('show');
					if(!status){
						$('.top li.sec').find('img').show();
						status = true;
						
						$(this).siblings('.file-image').addClass('active');
						$('.publish').show();
					}else{

					}
				})

				
				$('.text .input-box textarea').focus(function(){
					if(!status){
						$('.top li.first').find('img').show();
						status = true;
						$(this).addClass('active');
						$(this).siblings('.file-image').addClass('active');
						$('.publish').show();
					}else{

					}

				})
				var img_all = new Array();
				var i = 0;
				$('.upload-box input').fileupload({  
					autoUpload: true,
				    autoUpload: true,
				    acceptFileTypes:  /(\.|\/)(gif|jpe?g|png)$/i,
				    maxNumberOfFiles : 1,
				    
				    add: function (e, data) {
				        data.submit(); //this will 'force' the submit in IE < 10
				    },
				   
				    done:function(e,result){ 
				    	//完成后进行的操作	 
				    	var img_src = JSON.stringify(result.result);
				    	//alert(img_src);
				    	$('.upload-box').before('<div class="img-box">')
				    	     
				    	var new_div = $('.img-upload div.img-box').last(); 
				    	$(new_div).append('<img src='+img_src+'/>');
				    	$(new_div).append('<input type="hidden" name="image_'+i+'"value='+img_src+'>');
				    	$(new_div).append('<span><a href="javascript:;"></a></span>');
				    	img_all.push(img_src);
				    	i++;
				    	
				    },
				    fail: function(e, data) {
			                  //错误提示
				    	  alert('Fail!');
				    }
				}); 

				$('.img-box span a').on('click','.img-upload',function(){
					
				});
				$(document).on('click','.img-box span a',function(){
					var img_box = $(this).parents('.img-box');
					var i = $(img_box).index();
					
					img_all.splice(i,1);
					$(img_box).remove();

					// alert(img_all);

				})

				var limit = 2; 
				
				var PUBLIC = "__PUBLIC__";
				$('.ajax-btn a').click(function(){
					$.post('index',{limit:limit},function(data){

						if(data){
							// alert(1)
							// alert(data);
							for(var i in data){
								if(data[i]['action']=='album'){
									var obj = $('li.album').eq(0).clone(true);
									$('.info-box ul').append(obj);
									if(data[i]['image']){
										$(obj).find('.face-box img').attr('src',data[i]['image'])
									}else{
										$(obj).find('.face-box img').attr('src',PUBLIC+'/images/default_face.jpg');

									}

									$(obj).find('.info p a').html(data[i]['u_name']).attr('href','{:U('people/index')}'+'?p_id='+data[i]['u_id']);;
									var str = '';
									for(var j=0;j<data[i]['photo'].length;j++){
										str += '<img src="'+PUBLIC+data[i]['photo'][j]['path']+'/'+data[i]['photo'][j]['name']+'"/>';
									}
									// alert(data[i]['photo']);
									$(obj).find('.img-box a').html(str);
									if(data[i]['like']==1){
										$(obj).find('a.like').addClass('active');
									}else{
										$(obj).find('a.like').removeClass('active');

									}
									$(obj).find('a.like').attr('rel','album_'+data[i]['id']+'_'+data[i]['u_id'])
									var time = getLocalTime(data[i]['time'])
									$(obj).find('.time').html('<p>'+time+'</p>');
									var tag='';
									if(data[i]['tag']!=null){
										for(var j=0;j<data[i]['tag'].length;j++){

											tag +='<a href="">'+data[i]['tag'][j]['name']+'</a>';
										}
									}
									$(obj).find('.list-box').append(tag);

								}else{
									var obj = $('li.diary').eq(0).clone(true);
									$('.info-box ul').append(obj);
									$(obj).find('.face-box img').attr('src',data[i]['image'])
									if(data[i]['image']){
										$(obj).find('.face-box img').attr('src',data[i]['image'])
									}else{
										$(obj).find('.face-box img').attr('src',PUBLIC+'/images/default_face.jpg');

									}

									$(obj).find('.info p a').html(data[i]['name']).attr('href','{:U('people/index')}'+'?p_id='+data[i]['u_id']);

									var time = getLocalTime(data[i]['time'])
									$(obj).find('.time').html('<p>'+time+'</p>');
									var tag='';
									for(var j=0;j<data[i]['tag'].length;j++){

										tag +='<a href="">'+data[i]['tag'][j]['name']+'</a>';
									}
									$(obj).find('.list-box').append(tag);
									$(obj).find('.img-box a').html(str);
									if(data[i]['like']==1){
										$(obj).find('a.like').addClass('active');
									}else{
										$(obj).find('a.like').removeClass('active');

									}
									$(obj).find('a.like').attr('rel','diary_'+data[i]['id']+'_'+data[i]['u_id'])
									$(obj).find('a.title').html(data[i]['title']).attr('href','{:U("diary/diaryDetail")}'+'?id='+data[i]['id']+'&p_id='+data[i]['u_id']);
									$(obj).find('.detail p').html(data[i]['content']);

								}
							}
							limit+=2;
						}else{
							$('.ajax-btn').html('<p>没有东西了</p>');
						}
					})
				})


			})

			function getLocalTime(tm) {     
		      	var tt=new Date(parseInt(tm) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ")
				return tt;     
		    }     
			function saySubmit(obj){
				
				if(!$(obj).find('.say').val()){
					
					$(obj).find('.say').attr('placeholder','请说些什么吧！');
					return false;
				}
			}

		</script>
		<!-- END 自定义 head -->
	</head>
	<body class="user-page user-home-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/allHeader')}
		    {:W('Common/userHeader')}

			<!-- END header -->
			
			<div id="main">
				<div class="inner clearfix">
					<div class="f-left con">
						<div class="top">
							
							<div class="setting">
								<a class="set"href="javascript:;">首页设置</a>
								<div class="interesting">
									<form>
										<h2>设置你的首页，以下内容的更新会出现在这里：</h2>
										<h3>兴趣主题</h3>

										<div class="theme clearfix">
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											<a href="javascript:;">美食</a>
											
										</div>
										<h3>我的关注</h3>

										<div class="follow">
											<p>已关注 0 个蜂巢友邻<a href=="">去看看</a></p>
											
										</div>
										<div class="btn-box">
											<input type="submit" value="保存"/>
											<a href="">收起</a>
										</div>
									</form>
								</div>
								<div class="list-box f-left">
									<ul>
										<li class="first"><a class="icon" href="javascript:;"><span></span>说句话</a><img src="__PUBLIC__/images/tri.png"/></li>
										<li class="sec"><a class="icon"href="javascript:;"><span class="second"></span>发照片</a><img src="__PUBLIC__/images/tri.png"/></li>
										<li><a class="thir"href=""><span class="third"></span>写日记</a><img src="__PUBLIC__/images/tri.png"/></li>
									</ul>
							</div>
							</div>

							<form onsubmit="return saySubmit(this)" action="dosay" method="post">
								<div class="text">
								
									<div class="input-box">
										<textarea class="say" placeholder="分享生活点滴"name="text"/></textarea>
										<span class="file-image">
											<a href="javascript:;"></a>
										</span>
									</div>
									<div class="img-upload">
									
										
										<div class="upload-box">
											<span>+<input type="file" data-url="__CONTROLLER__/imgUpload" multiple name="myfile[]"/></span>
										</div>
										
									</div>	
								
								</div>

								<div class="btn-box publish">
									<input type="submit" value="发布"/>	
								</div>
							</form>
						</div>
						<div class="info-box">
							<empty name="hot">
								<p class="tip">关注点朋友吧！关注人的动态会显示在这里！</p>
								<else/>
									<ul>
										<foreach name="hot" item="vo" key="k">

											<switch name="vo.action">
												<case value="diary" break="1">
													<li class="diary">
														<div class="face-box" style="display:block">
															<empty name="vo.image">
																<img src="__PUBLIC__/images/default_face.jpg">
															<else/>
																<img src="{$vo.image}"/>
															</empty>
														</div>
														<div class="diary info">
															<p><a href="{:U('People/index')}?p_id={$vo.info.u_id}">{$vo.name}</a>的日记: </p>
															<div class="detail">
																<a class="title" href="{:U('diary/diaryDetail')}?id={$vo.info.id}&p_id={$vo.info.u_id}">
																	{$vo.title}
																</a>
																<p>{$vo.content} </p>
																<a class="like {$vo['like']==1?'active':''}" rel="diary_{$vo.id}_{$vo.u_id}"href="javascript:;" ><span>love</span>喜欢</a>
																
															</div>
															<div class="time">
																<p>{$vo.time|date="Y-m-d H:i:s",###}</p>
															</div>
														</div>
													</li>
												</case>
												<case value="album">

													<li class="album">
														<div class="face-box "style="display:block">
															
															<empty name="vo.image">
																<img src="__PUBLIC__/images/default_face.jpg">
															<else/>
																<img src="{$vo.image}"/>
															</empty>
														</div>
														<div class="album info">
															<p><a href="{:U('people/index')}?p_id={$vo.u_id}">{$vo.u_name}</a>的相册: </p>
															<div class="detail">
																<div class="img-box">
																	<a href="{:U('album/photoList')}?id={$vo.id}&p_id={$vo.u_id}">
																		<notempty name="vo.photo">
																			<foreach name="vo.photo" item="va" key="key">
																			<img src="__PUBLIC__/{$va.path}/{$va.name}"/>
																			</foreach>
																		<else/>
																			<p>还没发照片</p>
																		</notempty>

																	</a>
																</div>
																<a class="like {$vo['like']==1?'active':''}" rel="album_{$vo.id}_{$vo.u_id}"href="javascript:;"><span>love</span>喜欢</a>
																<notempty name="vo.tag">
																	
																	<div class="list-box">
																		标签：
																		<foreach name="vo.tag" item="va" k="key">
																			<a href="">{$va.name}</a>
																			
																		</foreach>
																	</div>

																</notempty>
															</div>
															<div class="time">
																<p>{$vo.time|date="Y-m-d H:i:s",###}</p>
															</div>
														</div>
													</li>
												</case>
											</switch>
										</foreach>
									</ul>
									<div class="ajax-btn">
										<a href="javascript:;">加载更多</a>
									</div>
							</empty>
						</div>
					</div>
					<div class="f-right sider">
						<div class="hot">
							<h2>蜂巢酿蜜</h2>
							<ul>
								<li><a href="">行走的力量行走的力量行走的力量</a></li>
								<li><a href="">行走的力量行走的力量行走的力量</a></li>
								<li><a href="">行走的力量行走的力量行走的力量</a></li>
							</ul>
						</div>
						<div class="ad">
							<img src="__PUBLIC__/images/ad4.jpg">
						</div>
						<div class="a-box">
							<a href="">> 申请创建小组</a>
						</div>
						<div class="ad">
							<img src="__PUBLIC__/images/ad4.jpg">
						</div>
					</div>
				</div>
				</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		<!-- END footer -->



	</body>
</html>
