<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload.css">  
		<link rel="stylesheet" href="__PUBLIC__/js/jQuery-File-Upload-master/css/jquery.fileupload-ui.css"> 
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.fileupload.js"></script>  
		<script src="__PUBLIC__/js/jQuery-File-Upload-master/js/jquery.iframe-transport.js"></script> 

		<script type="text/javascript">
		
				
		</script>
		<!-- END 自定义 head -->
	</head>
	<body class="user-page user-account-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/allHeader')}
		    {:W('Common/userHeader')}

			<!-- END header -->
			
			<div id="main">
				<div class="inner clearfix">
					<div class="con">
						<h2>修改我的密码</h2>
						<div class="form-box">
							<form action="modifyKey" method="post">
								<div class="input-box">
									<p>原密码：</p>
									<input name="old" type="password"/>
								</div>
								<div class="input-box">
									<p>新密码：</p>
									<input name="new" type="password"/>

								</div>
								<div class="input-box">
									<p>请再输入一次：</p>
									<input name="renew" type="password"/>

								</div>
								<div class="btn-box">
									<input value="修改" type="submit"/>
								</div>
							</form>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		<!-- END footer -->
		<script type="text/javascript">
			
		</script>


	</body>
</html>
