<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
		<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/CSS/bootstraps/css/bootstrap-theme.min.css">
		<title>显示用户</title>
	</head>
	<body>
		<div class="hvc">
			<p>后台管理>用户管理>后台用户管理</p>
		</div>

		<form class="form-inline" role="form" style="margin:18px 62px 22px;">
		  <div class="form-group">
		    <label class="sr-only">用户名</label>
		  <input type="text" class="form-control"  placeholder="输入用户名查询">
		  </div>
		  <button type="submit" class="btn btn-default">搜索</button>
		</form>
		
		<div class="section sec-2">
			<div class="hvc">

				<p class="tab-btn">后台用户显示</p>
			</div>
				<table class="table table-bordered" style="width:89%;margin:10px auto;">
	            <tr>
	                <th>编号</th>
	                <th>用户名</th>
	                <th>权限</th>
	                <th>状态</th>
	                <th>操作</th>
					
				
				</tr>

				<foreach name="back" item="vo">
	            <tr>
		            <td>{$vo.id}</td>
		            <td><a class="btn btn-default" href="">{$vo.name}</a></td>
		            <td><a class="btn btn-info"href=""/>设置</a></td>
		            <td><a class="btn {$vo['status']==0?'btn-success':'btn-warning'}"href="{:U('User/doStatus')}?id={$vo.id}&who=back">{$vo['status']==0?'正常':'异常'}</a></td>
		            
					<td>					
						
						<a class="btn btn-danger" href="{:U('User/delete')}?id={$vo.id}&who=back">删除</a>  
					
					</td>
	            </tr>
	           </foreach>
	        </table>
		</div>
	
        <div id="pager" style="margin-left:60px;">
        {$page}
        </div>
	</body>
</html>