<!DOCTYPE html>
<html lang="en">
<head>
	<!-- START 公用 head -->
	    {:W('Common/commonHead')}
	<!-- END 公用 head -->
	<link rel="stylesheet" href="__PUBLIC__/css/moviedetail.css">
</head>
<script type="text/javascript">
	$(function(){

        var s_id;
        var l_id;
        $('.userful').click(function(){
        	if(!$(this).hasClass('active')){
        		s_id = $(this).attr('rel');
	        	//alert(s_id);
	        	var that = $(this);
	        	$.post('__CONTROLLER__/sCommentUseful',{s_id:s_id},function(data){
	        		//alert(data['hot']);
	        		$(that).parents('.comment-item').find('.userful-num ').html(data[
	        			'hot']);      		
	        	},'json');
	        	$(that).addClass('active');
        	}
        	
        })
	})
</script>
<body>
	<!-- START header -->
	    {:W('Common/allHeader')}
	    {:W('Common/movieHeader')}	    
	<!-- END header -->
	<div id="wrap">
		<div id="main">	
			<div id="content">	
				<div class="inner">
					<h1 class="shotappraise">{$list1.name}的短评</h1>	
					<div class="grid-16-8 clearfix">
						<div class="comments-section fl">
							<div class="mod-hd">
								<!-- <a class="saytwo" href="#pop-1">我来说两句</a> -->		
							</div>
							<div class="mod-bd">
								<div class="tab-hd">
									<a href="">热门</a>
									/
									<a href="">最新</a>
									/
									<a href="">我关注的</a>
								</div>
								<div class="tab-bd">
									<foreach name="r2" item="v">
									<div class="comment-item">
										<div class="comment-user">									
											<a class="username" href="">{$v.name}</a>	
											<a rel="{$v.id}" class="userful" href="javascript:;">有用</a>
											<span class="userful-num">{$v.hot}</span>						
										</div>
										<div class="clearfix"></div>
										<div class="comment-content">
											<p>{$v.content}</p>
										</div>
									</div>
									</foreach>
									<div class="more-shot">
										>
										<a href="">下一页</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="aside">
							<div class="indent">
								<div class="p1 indent">
									<p>请尊重创作者的劳动，勿提供下载信息、或转载他人的文章。</p>
									<p>为了鼓励有益的分享, 少于140字的评论将在短评页面里发表。</p>
									<p>如果评论涉及电影和小说的结局和关键情节，请勾选“有关键情节透露”。豆瓣将显示提示，以免没有看过的人扫兴。</p>
								</div>
								<p class="pl2" style="margin-top:0pt;">
									>
									<a href="__CONTROLLER__/detail/id/{$list1.id}">去 {$list1.name} 的页面</a>
								</p>
							</div>
							<div class="movie-summary">
								<div class="movie-pic">
									<a href="">
										<img rel="" src="__PUBLIC__{$list1.i_path}148_{$list1.iname}" title="" alt="">
									</a>
								</div>
								<span class="attrs">
									<p>
										<span class="pl">导演:</span>
										{$list1.director}
									</p>
									<p>
										<span class="pl">编剧:</span>
										{$list1.writer}
									</p>
									<p>
										<span class="pl">类型:</span>
										<foreach name="list1.fname" item="vo">									
										{$vo}/
										</foreach>
									</p>
									<p>
										<span class="pl">片长:</span>
										{$list1.tlong}分钟
									</p>
									<p>
										<span class="pl">上映时间:</span>
										{$list1.orelease_t}
									</p>

								</span>
							</div>
						</div>
					</div>		
				</div>

			</div>
		</div>
	</div>
	<!-- START footer -->
	    {:W('Common/commonFooter')} 
	<!-- END footer -->
</body>
</html>