<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		    
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>
		<script type="text/javascript">
			$(function(){
				var i=5;
				$('.ajax-button a').click(function(){
					i=i+5;
					j=0;
					//alert(i);					
						$.post('__CONTROLLER__/moreComment',{num:i},function(data){
							//alert(data);
							$('#dys').empty();

							for(var tmp in data){
								$('#dys').append('<li><div class="img-box f-left"><a href="__CONTROLLER__/detail/id/'+data[tmp]['m_id']+'"><img src="__PUBLIC__'+data[tmp]['i_path']+data[tmp]['name']+'" width="68px" /></a></div><div class="text-box f-left"><h5><a href="__CONTROLLER__/commentDetail/id/'+data[tmp]['lid']+'/mid/'+data[tmp]['m_id']+'">'+data[tmp]['title']+' (全文)</a></h5><p><a href="">作者'+data[tmp]['uname']+'&nbsp;</a><a href="__CONTROLLER__/longComment/id/'+data[tmp]['m_id']+'">去评论&nbsp;'+data[tmp]['mname']+'</a></p><p class="detail">'+data[tmp]['content']+'...<a class="all" href="__CONTROLLER__/commentDetail/id/'+data[tmp]['lid']+'/mid/'+data[tmp]['m_id']+'">(全文)</a></p></div></li>');

								var con = $('.detail').eq(j).html();
								// alert(con)
								con = con.substring(0,30);
								// alert(con)
								$('#dys li .detail').eq(j).html(con);
								j++;
								// alert(j)
							}
												
						},'json')
				})
			})
		</script>
		
		<style type="text/css">
			.ajax-button a {
			    background-color: #f7f7f7;
			    color: #a11715;
			    display: block;
			    font-size: 14px;
			    height: 40px;
			    text-align: center;
			    width: 582px;
			    line-height: 40px;
			    margin-bottom: 5px;
			}
		</style>
		<!-- END 自定义 head -->
	</head>
	<body class="movie-page movie-comment-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/allHeader')}
		    {:W('Common/movieHeader')}
		    
			    
			<!-- END header -->
			
			<div id="main">
				<div class="inner">
					<div class="f-left con">
						<div class="section sec-4">
							<div class="top">
								<h3>最受欢迎的影评</h3>
								<a href="">更多热门影评》</a>
								<a href="">新片影评》</a>
							</div>
							<div class="bottom">
								<ul id="dys">
									<foreach name="arr" item="vo">
									<li>
										<div class="img-box f-left"><a href="__CONTROLLER__/detail/id/{$vo.m_id}"><img src="__PUBLIC__{$vo.i_path}148_{$vo.name}" width="68px" /></a></div>
										<div class="text-box f-left">
											<h5><a href="__CONTROLLER__/commentDetail/id/{$vo.lid}/mid/{$vo.m_id}">{$vo.title}</a></h5>
                                            <p><a href="">作者 {$vo.uname}&nbsp;</a> 
                                            <a href="__CONTROLLER__/longComment/id/{$vo.m_id}">去评论&nbsp;{$vo.mname}</a></p>
                                            <p class="detail"> 
                                                {$vo.content|subtext=28}<a class="all" href="__CONTROLLER__/commentDetail/id/{$vo.lid}/mid/{$vo.m_id}">(全文)</a>
                                            </p> 
										</div>
									</li>
									</foreach>
								</ul>
								<div class="ajax-button">
									<a href="javascript:;">加载更多</a>
								</div> 
							</div>
						</div>
					</div>
					<div class="f-left sider">
						<div class="ad">
							<a href=""><img src="__PUBLIC__/images/ad4.jpg"/></a>
						</div>


					</div>
				</div>
			</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		    
		   	
		<!-- END footer -->
		<script type="text/javascript">
			$(function(){
				$("h5 a.icon").toggle(function () {
				    $(this).addClass("selected");
				  },function () {
				    $(this).removeClass("selected");
				  }
				);



			});
		</script>
	</body>
</html>
