<!DOCTYPE html>
<html lang="en">
<head>
	<!-- START 公用 head -->
	    {:W('Common/commonHead')}
	<!-- END 公用 head -->
	<link rel="stylesheet" href="__PUBLIC__/css/moviedetail.css">
</head>
<body>
	<!-- START header -->
	    {:W('Common/allHeader')}
	    {:W('Common/movieHeader')}	    
	<!-- END header -->
	<div id="wrap">
		<div id="main">	
			<div id="content">	
				<div class="inner">
					<h1>评论 小森林 春</h1>	
					<div class="grid-16-8 clearfix">
						<div class="article">
							<div typeof="v:Review">
								<div class="main">
									<div class="main-hd">
										<p>
											<a href="" onclick="">
												<span property="v:reviewer">会飞的鱼</span>
											</a>
											<span class="main-meta" content="2015-04-07" property="v:dtreviewed">2015-04-07 13:51:19</span>
										</p>
									</div>
									<div class="main-bd">
										<div id="link-report">
											<div class="" property="v:description">
												也许，每个人心里都有一个小森林吧。
											　　我爸的弟弟，就是我叔，前年在山上开垦了一块地，不作他用，就是种菜。为了看顾好他的菜地，他每天清晨都爬上山，如果下雨路难走，他就开车从山路上过。开垦好地花了他快一年的时间，我看到他每次去山上都会带两双鞋，因为泥地总是把鞋弄脏，他不能穿着脏鞋去上班。
											　　有一天我爬山遇到我叔。远远地，我看到他正在地里除草。这时候，几个大人带着小孩从菜地边路过，孩子好奇地蹲在菜地边，看着我叔。叔看到孩子，便拿起刚收好的一捆青菜，递给家长，说：我种的，你们带回去尝尝。
											　　送菜的时候，叔笑眯眯地看着孩子，语气里透着一股憨厚的自豪。
											　　大人们收下菜，对孩子说：快谢谢人家！孩子说：谢谢农民伯伯！
											　　大人们都笑了：他可不是农民伯伯！ 
											</div>
										</div>
									</div>
									<div class="main-ft">
										<div class="main-panel">
											<div class="main-panel-useful">
												<div class="like-box">
													<a class="like {$diary['like']==1?'active':''}"  rel="diary_{$diary.diaryid}_  00" href="javascript:;"><span></span>喜欢</a>
												</div>
											</div>
										</div>
										<div id="comments" class="">
											<div id="6818739" class="comment-item" data-target_kind="1012" data-target_id="7436647" data-cid="6818739">
												<div class="content report-comment">
													<div class="author">
														<span class="">2015-04-07 17:50:51</span>
														<a class=" " href="">禧月</a>
														(择善者，固执之)
													</div>
													<div class="reply-quote">
														<span class="short">你的文字很温暖～</span>
														
														<span class="pubdate">
															<a href="">禧月</a>
														</span>
													</div>
													<p class="">你的谢谢～</p>
													<div class="op-lnks">
														<a class="lnk-reply" href="">回应</a>
													</div>
												</div>
											</div>

											<div id="6818739" class="comment-item" data-target_kind="1012" data-target_id="7436647" data-cid="6818739">
												<div class="content report-comment">
													<div class="author">
														<span class="">2015-04-07 17:50:51</span>
														<a class=" " href="">禧月</a>
														(择善者，固执之)
													</div>
													<div class="reply-quote">
														<span class="short">你的文字很温暖～</span>
														
														<span class="pubdate">
															<a href="">禧月</a>
														</span>
													</div>
													<p class="">你的谢谢～</p>
													<div class="op-lnks">
														<a class="lnk-reply" href="">回应</a>
													</div>
												</div>
											</div>
											
											<h3> 你的回应  · · · · · · </h3>
											<div id="add_comment" class="comment-form txd">
												<form action="add_comment" method="post" name="comment_form">
													<div class="item">
														<textarea cols="64" rows="4" name="rv_comment"></textarea>
														<br>
													</div>
													<div class="item">
														<span class="bn-flat-hot ">
															<input type="submit" value="加上去">
														</span>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="aside">
							<div class="indent">
								<div class="p1 indent">
									<p>请尊重创作者的劳动，勿提供下载信息、或转载他人的文章。</p>
									<p>为了鼓励有益的分享, 少于140字的评论将在短评页面里发表。</p>
									<p>如果评论涉及电影和小说的结局和关键情节，请勾选“有关键情节透露”。豆瓣将显示提示，以免没有看过的人扫兴。</p>
								</div>
								<p class="pl2" style="margin-top:0pt;">
									>
									<a href="__CONTROLLER__/detail/id/{$list.id}">去 {$list.name} 的页面</a>
								</p>
							</div>
							<div class="movie-summary">
								<div class="movie-pic">
									<a href="">
										<img rel="" src="__PUBLIC__{$list.i_path}148_{$list.iname}" title="" alt="">
									</a>
								</div>
								<span class="attrs">
									<p>
										<span class="pl">导演:</span>
										{$list.director}
									</p>
									<p>
										<span class="pl">编剧:</span>
										{$list.writer}
									</p>
									<p>
										<span class="pl">类型:</span>
										<foreach name="list.fname" item="vo">									
										{$vo}/
										</foreach>
									</p>
									<p>
										<span class="pl">片长:</span>
										{$list.tlong}分钟
									</p>
									<p>
										<span class="pl">上映时间:</span>
										{$list.orelease_t}
									</p>

								</span>
							</div>
						</div>
					</div>		
				</div>

			</div>
		</div>
	</div>
	<!-- START footer -->
	    {:W('Common/commonFooter')} 
	<!-- END footer -->
</body>
</html>