<!DOCTYPE html>
<html lang="en">
<head>
	<!-- START 公用 head -->
	    {:W('Common/commonHead')}
	<!-- END 公用 head -->
	<link rel="stylesheet" href="__PUBLIC__/css/moviedetail.css">
</head>
<body>	
	<!-- START header -->
	    {:W('Common/allHeader')}
	    {:W('Common/movieHeader')}	    
	<!-- END header -->
	<div id="wrap">
		<div id="main">	
			<div id="content">
				<h1>
					<span>小森林 冬春篇 リトル・フォレスト 冬・春</span>
					<span class="year">(2015)</span>
				</h1>
				<div class="grid clearfix">
					<div class="article">
						<div class="indent clearfix">
							<div class="subjectwrap">
								<div class="subject">
									<div class="mainpic">
										<a href="">
											<img src="__PUBLIC__/images/xsl.jpg" alt="">
										</a>
									</div>
									<div class="info">
										<span>
											<span class="pl">导演:</span>
											<span class="attrs">森淳一</span>
										</span>
										<br>
										<span>
											<span class="pl">编剧:</span>
											<span class="attrs">森淳一</span>
										</span>
										<br>
										<span>
											<span class="pl">主演:</span>
											<span class="attrs">桥本爱/桐岛加恋</span>
										</span>
										<br>
										<span class="pl">类型:</span>
										<span>剧情</span>
										<br>
										<span class="pl">官方网站:</span>
										<a href="" target="_blank">littleforest-movie.jp/ws/</a>
										<br>
										<span class="pl">制片国家/地区:</span>
										日本
										<br>	
										<span class="pl">语言:</span>
										日语
										<br>
										<span class="pl">上映日期:</span>
										<span content="2015-02-14(日本)" property="v:initialReleaseDate">2015-02-14(日本)</span>
										<br>
										<span class="pl">片长:</span>
										<span content="120" property="v:runtime">120分钟</span>
										<br>
										<span class="pl">又名:</span>
										小森食光/冬春篇(台) / Little Forest: Winter & Spring
										<br>
										<span class="pl">IMDb链接:</span>
										<a rel="nofollow" target="_blank" href="http://www.imdb.com/title/tt3474602">tt3474602</a>
										<br>
									</div>
								</div>
								<div class="interest_sect1">
									<div class="rating_wrap">
										
									</div>
									<div class="rating_betterthan">
										好于98%的剧情片
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="interst_sect_level">
								<a class="colbutton" href=""><span>想看</span></a>
								<a class="colbutton" href=""><span>看过</span></a>
								<div class="a_stars">
									评价:
								</div>
							</div>
							<div class="gtleft">
								<ul>
									<li>
										<img src="./short-comment.gif" alt="">
										<a href="">写短评</a>
									</li>
									<li>
										<img src="./add-review.gif" alt="">
										<a href="">写影评</a>
									</li>
									<li>
										<img src="./add-doulist.gif" alt="">
										<a href="">提问题</a>
									</li>
									<li>
										<img src="./short-comment.gif" alt="">
										<a href="">分享到</a>
									</li>
								</ul>
								<a class="recomand" href="">推荐</a>
							</div>
						</div>
						<div class="related-info">
							<h3>小森林 冬春篇的剧情简介  ·  ·  ·  ·  ·  ·</h3>
							<div class="brief">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于无法融入喧嚣吵闹的大城市，平凡女孩市子（桥本爱 饰）选择回到自幼生长的老家——位于日本东北地区的小森村。这里没有过多时尚文明的色彩，当地人过着日出而作日落而息的传统生活，他们靠天吃饭，靠着双手经营人生。生活虽不富裕，心中则是满满的充实和欢喜。受妈妈（桐島かれん 饰）影响，市子似乎对亲手制作各种美味而廉价的料理有着格外浓厚的兴趣。妈妈失踪已经很久，对料理的回忆与再现成为母女间别具特色的交流方式。更何况还有取自大自然的各种食材，又怎能暴殄天物浪费了大号的韶光？在好友纪子（松冈茉优 饰）和裕太（三浦贵大 饰）的陪伴下，市子静静地走过了春夏秋冬…… </p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本片根据漫画家五十岚大介的原作改编。                                   
							</div>
						</div>
						<div class="related-pic">
							<h3>小森林 冬春篇的预告片和图片 · · · · · ·</h3> 
							<ul>
								<li>
									<a href=""><img src="__PUBLIC__/images/11.png" alt=""></a>
								</li>
								<li>
									<a href=""><img src="__PUBLIC__/images/12.jpg" alt=""></a>
								</li>
								<li>
									<a href=""><img src="__PUBLIC__/images/13.jpg" alt=""></a>
								</li>
								<li>
									<a href=""><img src="__PUBLIC__/images/14.jpg" alt=""></a>
								</li>
								<li>
									<a href=""><img src="__PUBLIC__/images/15.jpg" alt=""></a>
								</li>
							</ul>
						</div>
						<div class="comments-section">
							<div class="mod-hd">
								<a class="saytwo" href="">我来说两句</a>
								<h3 class="shotappraise">小森林 冬春篇的短评 · · · · · ·</h3>		
							</div>
							<div class="mod-bd">
								<div class="tab-hd">
									<a href="">热门</a>
									/
									<a href="">最新</a>
									/
									<a href="">我关注的</a>
								</div>
								<div class="tab-bd">
									<div class="comment-item">
										<div class="comment-user">									
											<a class="username" href="">内陆飞鱼</a>	
											<a class="userful" href="">有用</a>
											<span class="userful-num">30</span>						
										</div>
										<div class="clearfix"></div>
										<div class="comment-content">
											<p>恬淡之美，自得其乐，风景和食材一样精致，劳作和享受一般干净。在日本当农民竟这样优雅，有隐居之趣，桥本爱的呆萌刚刚好。像《乡村照相馆》《从河底问好》等，片子再次涉及一个老生常谈的问题，在东京等大城市混不下去的年轻人，回故乡，怎么生活才能在祖辈的土地上实现自我价值。</p>
										</div>
									</div>
									<div class="comment-item">
										<div class="comment-user">									
											<a class="username" href="">内陆飞鱼</a>	
											<a class="userful" href="">有用</a>
											<span class="userful-num">30</span>						
										</div>
										<div class="clearfix"></div>
										<div class="comment-content">
											<p>恬淡之美，自得其乐，风景和食材一样精致，劳作和享受一般干净。在日本当农民竟这样优雅，有隐居之趣，桥本爱的呆萌刚刚好。像《乡村照相馆》《从河底问好》等，片子再次涉及一个老生常谈的问题，在东京等大城市混不下去的年轻人，回故乡，怎么生活才能在祖辈的土地上实现自我价值。</p>
										</div>
									</div>
									<div class="comment-item">
										<div class="comment-user">									
											<a class="username" href="">内陆飞鱼</a>	
											<a class="userful" href="">有用</a>
											<span class="userful-num">30</span>						
										</div>
										<div class="clearfix"></div>
										<div class="comment-content">
											<p>恬淡之美，自得其乐，风景和食材一样精致，劳作和享受一般干净。在日本当农民竟这样优雅，有隐居之趣，桥本爱的呆萌刚刚好。像《乡村照相馆》《从河底问好》等，片子再次涉及一个老生常谈的问题，在东京等大城市混不下去的年轻人，回故乡，怎么生活才能在祖辈的土地上实现自我价值。</p>
										</div>
									</div>
									<div class="comment-item">
										<div class="comment-user">									
											<a class="username" href="">内陆飞鱼</a>	
											<a class="userful" href="">有用</a>
											<span class="userful-num">30</span>						
										</div>
										<div class="clearfix"></div>
										<div class="comment-content">
											<p>想做饭想做饭想摸菜刀想翻锅想捏面团啊啊啊啊啊我的厨魂已经熊熊燃烧了！！！！感觉村里地上随便啥草都能焯一下炸了吃掉¯﹃¯… </p>
										</div>
									</div>
									<div class="more-shot">
									>
									<a href="">更多短评3003条</a>
									</div>
								</div>
							</div>
						</div>
						<div class="askmatrix">
							<div class="mod-hd">
								<a class="saytwo" href="">我来提问</a>
								<h3 class="shotappraise">关于《小森林 冬春篇》的问题 · · · · · ·</h3>		
							</div>
							<div class="mod-bd">
								<ul>
									<li>
										<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
										<span class="meta">2人回答</span>
									</li>
									<li>
										<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
										<span class="meta">2人回答</span>
									</li>
									<li>
										<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
										<span class="meta">2人回答</span>
									</li>
									<li>
										<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
										<span class="meta">2人回答</span>
									</li>
									<li>
										<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
										<span class="meta">2人回答</span>
									</li>
								</ul>
								<div class="more-shot">
								>
								<a href="">全部25个问题</a>
								</div>
							</div>
						</div>
						<div class="review_section">
							<div class="mod-hd">
								<a class="saytwo" href="">我来评论这部电影</a>
								<h3 class="shotappraise">小森林 冬春篇的影评 · · · · · ·</h3>		
							</div>
							<div class="mod-bd">
								<div class="review">
									<div class="review-hd">
										<div class="review-hd-title">
											<a href=><img src="" alt=""></a>
											<a href="">与大地一起丰收</a>
										</div>
										<div class="review-hd-info">
											<a class="" href="http://movie.douban.com/people/52470011/">zts</a>
											2015-04-07 13:51:19
											<span class="allstar40" title="推荐"></span>
										</div>
									</div>
									<div class="riview-bd">					
										<p>也许，每个人心里都有一个小森林吧。 我爸的弟弟，就是我叔，前年在山上开垦了一块地，不作他用，就是种菜。为了看顾好他的菜地，他每天清晨都爬上山，如果下雨路难走，他就开车从山路上过。开垦好地花了他快一年的时间，我看到他每次去山上都会带两双鞋，因为泥地总是把鞋弄脏，他不能穿着脏鞋去上班。 有一天我爬山遇到我叔。远远地，我看到他正在地里除草。这时候，几.........
										</p>										
										<div class="review-short-ft">
											<span>129/133</span>
											 有用
											<a href="">73回复</a>
										</div>
									</div>
								</div>
								<div class="review">
									<div class="review-hd">
										<div class="review-hd-title">
											<a href=><img src="" alt=""></a>
											<a href="">与大地一起丰收</a>
										</div>
										<div class="review-hd-info">
											<a class="" href="http://movie.douban.com/people/52470011/">zts</a>
											2015-04-07 13:51:19
											<span class="allstar40" title="推荐"></span>
										</div>
									</div>
									<div class="riview-bd">					
										<p>也许，每个人心里都有一个小森林吧。 我爸的弟弟，就是我叔，前年在山上开垦了一块地，不作他用，就是种菜。为了看顾好他的菜地，他每天清晨都爬上山，如果下雨路难走，他就开车从山路上过。开垦好地花了他快一年的时间，我看到他每次去山上都会带两双鞋，因为泥地总是把鞋弄脏，他不能穿着脏鞋去上班。 有一天我爬山遇到我叔。远远地，我看到他正在地里除草。这时候，几.........
										</p>										
										<div class="review-short-ft">
											<span>129/133</span>
											 有用
											<a href="">73回复</a>
										</div>
									</div>
								</div>
								<div class="review">
									<div class="review-hd">
										<div class="review-hd-title">
											<a href=><img src="" alt=""></a>
											<a href="">与大地一起丰收</a>
										</div>
										<div class="review-hd-info">
											<a class="" href="http://movie.douban.com/people/52470011/">zts</a>
											2015-04-07 13:51:19
											<span class="allstar40" title="推荐"></span>
										</div>
									</div>
									<div class="riview-bd">					
										<p>也许，每个人心里都有一个小森林吧。 我爸的弟弟，就是我叔，前年在山上开垦了一块地，不作他用，就是种菜。为了看顾好他的菜地，他每天清晨都爬上山，如果下雨路难走，他就开车从山路上过。开垦好地花了他快一年的时间，我看到他每次去山上都会带两双鞋，因为泥地总是把鞋弄脏，他不能穿着脏鞋去上班。 有一天我爬山遇到我叔。远远地，我看到他正在地里除草。这时候，几.........
										</p>										
										<div class="review-short-ft">
											<span>129/133</span>
											 有用
											<a href="">73回复</a>
										</div>
									</div>
								</div>
								<div class="more-shot">
									>
									<a href="">更多影评64篇</a>
								</div>
								
							</div>
						</div>
						<div class="more-shot1">
							>
							<a href="">去这部影片的讨论区</a>
						</div>
					</div>
					
					<div class="aside"> 
						<div class="aside-pic">
							<img src="__PUBLIC__/images/sidepic.jpg" alt="">
						</div>

						<div class="aside-tag">
							<h3>蜂巢成员常用的标签  ·  ·  ·  ·  ·  ·</h3>
							<div class="tags-body">
								<a href="">电影</a>
								<a href="">自然</a>
								<a href="">文艺</a>
								<a href="">橘本爱</a>
								<a href="">日本</a>
								<a href="">日本电影</a>
							</div>
						</div>
						<div class="subject-doulist">
							<h3>以下小蜜蜂推荐  ·  ·  ·  ·  ·  ·</h3>
							<ul>
								<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
								<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
								<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
								<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
								<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
							</ul>
						</div>
						<div class="aside-interests">
							<h3>谁在看这部电影  ·  ·  ·  ·  ·  ·</h3>
							<ul>
								<li>
									<img style="float:left;" src="./small.jpg" alt="">
									<div class="others-interest-info">
										<a href="">欢脱的喵喵</a>
										<div class=""> 1分钟前 想看 </div>
									</div>
								</li>
								<li>
									<img style="float:left;" src="./small.jpg" alt="">
									<div class="others-interest-info">
										<a href="">欢脱的喵喵</a>
										<div class=""> 1分钟前 想看 </div>
									</div>
								</li>
								<li>
									<img style="float:left;" src="./small.jpg" alt="">
									<div class="others-interest-info">
										<a href="">欢脱的喵喵</a>
										<div class=""> 1分钟前 想看 </div>
									</div>
								</li>
							</ul>

							<div class="subject-others-interests-ft">
								<a href="">11626人看过</a>
								 / 
								<a href="">17662人想看</a>
							</div>

						</div>
						<div class="aside-pic-two">
							<img src="__PUBLIC__/images/sidepic1.jpg" alt="">
						</div>
					</div>
					
					<div class="extra">
						<img src="__PUBLIC__/images/bigpic.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- START footer -->
	    {:W('Common/commonFooter')}	    
	<!-- END footer -->
</body>
</html>