<!DOCTYPE html>
<html lang="en">
<head>
	<!-- START 公用 head -->
	    {:W('Common/commonHead')}
	<!-- END 公用 head -->
	<link rel="stylesheet" href="__PUBLIC__/css/moviedetail.css">
</head>
<body>	
	<!-- START header -->
	    {:W('Common/allHeader')}
	    {:W('Common/movieHeader')}	    
	<!-- END header -->
	<div id="wrap">
		<div id="main">	
			<div id="content">	
				<div class="inner">		
					<h1>
						<span>{$list.name}</span>
						<span class="year">({$row[0]['name']})</span>
						
					</h1>
					<div class="grid clearfix">
						<div class="article">
							<div class="indent clearfix">
								<div class="subjectwrap">
									<div class="subject">
										<div class="mainpic">
											<a href="">
												<img src="__PUBLIC__/{$list.i_path}148_{$list.iname}" alt="">
											</a>
										</div>
										<div class="info">
											<span>
												<span class="pl">导演:</span>
												<span class="attrs">{$list.director}</span>
											</span>
											<br>
											<span>
												<span class="pl">编剧:</span>
												<span class="attrs">{$list.writer}</span>
											</span>
											<br>
											<span class="pl">类型:</span>
											<foreach name="list.fname" item="vo">
											<span class="attrs">{$vo}</span>/
											</foreach>
											<br>
											<span class="pl">官方网站:</span>
											<a href="javascript:;" >littleforest-movie.jp/ws/</a>
											<br>
											<span class="pl">制片国家/地区:</span>
											<span class="attrs">{$r['name']}</span>
											<br>	
											<span class="pl">语言:</span>
											<span class="attrs">英语/中文</span>
											<br>
											<span class="pl">上映日期:</span>
											<span class="attrs">{$list.orelease_t}({$r['name']})</span>
											<br>
											<span class="pl">片长:</span>
											<span class="attrs" property="v:runtime">{$list.tlong}分钟</span>
											<br>
											<span class="pl">又名:</span>
											<span class="attrs">{$list.alias}</span>
											<br>
											<span class="pl">IMDb链接:</span>
											<a rel="nofollow" href="javascript:;">tt3474602</a>
											<br>
										</div>
									</div>
									<div class="interest_sect1">
										<div class="rating_wrap">
											<p class="rating_self clearfix" >
											<span class="fl bigstar45"></span>
											<strong class="fl rating_num" property="v:average">8.7</strong>
											<span content="10.0" property="v:best"></span>
											</p>
											<p style="height:18px;margin:5px 0;font-size:12px;">
											 	(
													<a href="collections">
													<span property="v:votes">11032</span>
													人评价
													</a>
												)
											</p>
											<span class="stars5 starstop" title="力荐"></span>
											<div class="power" style="width:60px"></div>
											54.8%
											<br>
											<span class="stars4 starstop" title="推荐"></span>
											<div class="power" style="width:35px"></div>
											32.0%
											<br>
											<span class="stars3 starstop" title="还行"></span>
											<div class="power" style="width:11px"></div>
											10.3%
											<br>
											<span class="stars2 starstop" title="较差"></span>
											<div class="power" style="width:1px"></div>
											1.4%
											<br>
											<span class="stars1 starstop" title="很差"></span>
											<div class="power" style="width:1px"></div>
											1.5%
											<br>
										</div>
										<div class="rating_betterthan">
											好于98%的剧情片
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="interst_sect_level">
									<a class="colbutton" href=""><span>想看</span></a>
									<a class="colbutton" href=""><span>看过</span></a>
									<div class="a_stars">
										评价:
									</div>
								</div>
								<div class="gtleft">
									<ul>
										<li>
											<img src="__PUBLIC__/images/short-comment.gif" alt="">
											<a href="">写短评</a>
										</li>
										<li>
											<img src="__PUBLIC__/images/add-review.gif" alt="">
											<a href="">写影评</a>
										</li>
										<li>
											<img src="__PUBLIC__/images/add-doulist.gif" alt="">
											<a href="">提问题</a>
										</li>
										<li>
											<img src="__PUBLIC__/images/short-comment.gif" alt="">
											<a href="">分享到</a>
										</li>
									</ul>
									<a class="recomand" href="">推荐</a>
								</div>
							</div>
							<div class="related-info">
								<h3>{$list.name}的剧情简介  ·  ·  ·  ·  ·  ·</h3>
								<div class="brief">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$list.brief|subtext=273}</p>                            
								</div>
							</div>
							<div class="related-pic">
								<h3>{$list.name}的图片 · · · · · ·</h3> 
								<ul>
									
									<foreach name="row" item="vo">
									<li>
										<a href=""><img src="__PUBLIC__/{$vo.i_path}{$vo.iname}" alt="" height="100"></a>
									</li>
									</foreach>
									
								</ul>
							</div>
							<div class="comments-section">
								<div class="mod-hd">
									<a class="saytwo" href="">我来说两句</a>
									<h3 class="shotappraise">{$list.name}的短评 · · · · · ·</h3>		
								</div>
								<div class="mod-bd">
									<div class="tab-hd">
										<a href="">热门</a>
										/
										<a href="">最新</a>
										/
										<a href="">我关注的</a>
									</div>
									<div class="tab-bd">
										<div class="comment-item">
											<div class="comment-user">									
												<a class="username" href="">内陆飞鱼</a>	
												<a class="userful" href="">有用</a>
												<span class="userful-num">30</span>						
											</div>
											<div class="clearfix"></div>
											<div class="comment-content">
												<p>恬淡之美，自得其乐，风景和食材一样精致，劳作和享受一般干净。在日本当农民竟这样优雅，有隐居之趣，桥本爱的呆萌刚刚好。像《乡村照相馆》《从河底问好》等，片子再次涉及一个老生常谈的问题，在东京等大城市混不下去的年轻人，回故乡，怎么生活才能在祖辈的土地上实现自我价值。</p>
											</div>
										</div>
										<div class="comment-item">
											<div class="comment-user">									
												<a class="username" href="">内陆飞鱼</a>	
												<a class="userful" href="">有用</a>
												<span class="userful-num">30</span>						
											</div>
											<div class="clearfix"></div>
											<div class="comment-content">
												<p>恬淡之美，自得其乐，风景和食材一样精致，劳作和享受一般干净。在日本当农民竟这样优雅，有隐居之趣，桥本爱的呆萌刚刚好。像《乡村照相馆》《从河底问好》等，片子再次涉及一个老生常谈的问题，在东京等大城市混不下去的年轻人，回故乡，怎么生活才能在祖辈的土地上实现自我价值。</p>
											</div>
										</div>
										<div class="comment-item">
											<div class="comment-user">									
												<a class="username" href="">内陆飞鱼</a>	
												<a class="userful" href="">有用</a>
												<span class="userful-num">30</span>						
											</div>
											<div class="clearfix"></div>
											<div class="comment-content">
												<p>恬淡之美，自得其乐，风景和食材一样精致，劳作和享受一般干净。在日本当农民竟这样优雅，有隐居之趣，桥本爱的呆萌刚刚好。像《乡村照相馆》《从河底问好》等，片子再次涉及一个老生常谈的问题，在东京等大城市混不下去的年轻人，回故乡，怎么生活才能在祖辈的土地上实现自我价值。</p>
											</div>
										</div>
										<div class="comment-item">
											<div class="comment-user">									
												<a class="username" href="">内陆飞鱼</a>	
												<a class="userful" href="">有用</a>
												<span class="userful-num">30</span>						
											</div>
											<div class="clearfix"></div>
											<div class="comment-content">
												<p>想做饭想做饭想摸菜刀想翻锅想捏面团啊啊啊啊啊我的厨魂已经熊熊燃烧了！！！！感觉村里地上随便啥草都能焯一下炸了吃掉¯﹃¯… </p>
											</div>
										</div>
										<div class="more-shot">
										>
										<a href="">更多短评3003条</a>
										</div>
									</div>
								</div>
							</div>
							<!--<div class="askmatrix">
								<div class="mod-hd">
									<a class="saytwo" href="">我来提问</a>
									<h3 class="shotappraise">关于《小森林 冬春篇》的问题 · · · · · ·</h3>		
								</div>
								<div class="mod-bd">
									<ul>
										<li>
											<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
											<span class="meta">2人回答</span>
										</li>
										<li>
											<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
											<span class="meta">2人回答</span>
										</li>
										<li>
											<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
											<span class="meta">2人回答</span>
										</li>
										<li>
											<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
											<span class="meta">2人回答</span>
										</li>
										<li>
											<span class="tit"><a href="">主题曲 哪里可以听到主题曲</a></span>
											<span class="meta">2人回答</span>
										</li>
									</ul>
									<div class="more-shot">
									>
									<a href="">全部25个问题</a>
									</div>
								</div>
							</div>-->
							<div class="review_section">
								<div class="mod-hd">
									<a class="saytwo" href="__CONTROLLER__/longComment/id/{$list.id}">我来评论这部电影</a>
									<h3 class="shotappraise">{$list.name}的影评 · · · · · ·</h3>		
								</div>
								<div class="mod-bd">
									<div class="review">
										<div class="review-hd">
											<div class="review-hd-title">
												<a href=><img src="" alt=""></a>
												<a href="">与大地一起丰收</a>
											</div>
											<div class="review-hd-info">
												<a class="" href="http://movie.douban.com/people/52470011/">zts</a>
												2015-04-07 13:51:19
												<span class="allstar40" title="推荐"></span>
											</div>
										</div>
										<div class="riview-bd">					
											<p>也许，每个人心里都有一个小森林吧。 我爸的弟弟，就是我叔，前年在山上开垦了一块地，不作他用，就是种菜。为了看顾好他的菜地，他每天清晨都爬上山，如果下雨路难走，他就开车从山路上过。开垦好地花了他快一年的时间，我看到他每次去山上都会带两双鞋，因为泥地总是把鞋弄脏，他不能穿着脏鞋去上班。 有一天我爬山遇到我叔。远远地，我看到他正在地里除草。这时候，几.........
											</p>										
											<div class="review-short-ft">
												<span>129/133</span>
												 有用
												<a href="">73回复</a>
											</div>
										</div>
									</div>
									<div class="review">
										<div class="review-hd">
											<div class="review-hd-title">
												<a href=><img src="" alt=""></a>
												<a href="">与大地一起丰收</a>
											</div>
											<div class="review-hd-info">
												<a class="" href="http://movie.douban.com/people/52470011/">zts</a>
												2015-04-07 13:51:19
												<span class="allstar40" title="推荐"></span>
											</div>
										</div>
										<div class="riview-bd">					
											<p>也许，每个人心里都有一个小森林吧。 我爸的弟弟，就是我叔，前年在山上开垦了一块地，不作他用，就是种菜。为了看顾好他的菜地，他每天清晨都爬上山，如果下雨路难走，他就开车从山路上过。开垦好地花了他快一年的时间，我看到他每次去山上都会带两双鞋，因为泥地总是把鞋弄脏，他不能穿着脏鞋去上班。 有一天我爬山遇到我叔。远远地，我看到他正在地里除草。这时候，几.........
											</p>										
											<div class="review-short-ft">
												<span>129/133</span>
												 有用
												<a href="">73回复</a>
											</div>
										</div>
									</div>
									<div class="review">
										<div class="review-hd">
											<div class="review-hd-title">
												<a href=><img src="" alt=""></a>
												<a href="">与大地一起丰收</a>
											</div>
											<div class="review-hd-info">
												<a class="" href="http://movie.douban.com/people/52470011/">zts</a>
												2015-04-07 13:51:19
												<span class="allstar40" title="推荐"></span>
											</div>
										</div>
										<div class="riview-bd">					
											<p>也许，每个人心里都有一个小森林吧。 我爸的弟弟，就是我叔，前年在山上开垦了一块地，不作他用，就是种菜。为了看顾好他的菜地，他每天清晨都爬上山，如果下雨路难走，他就开车从山路上过。开垦好地花了他快一年的时间，我看到他每次去山上都会带两双鞋，因为泥地总是把鞋弄脏，他不能穿着脏鞋去上班。 有一天我爬山遇到我叔。远远地，我看到他正在地里除草。这时候，几.........
											</p>										
											<div class="review-short-ft">
												<span>129/133</span>
												 有用
												<a href="">73回复</a>
											</div>
										</div>
									</div>
									<div class="more-shot">
										>
										<a href="">更多影评64篇</a>
									</div>
									
								</div>
							</div>
							<div class="more-shot1">
								>
								<a href="">去这部影片的讨论区</a>
							</div>
						</div>
						
						<div class="aside"> 
							<div class="aside-pic">
								<img src="__PUBLIC__/images/sidepic.jpg" alt="">
							</div>

							<div class="aside-tag">
								<h3>蜂巢成员常用的标签  ·  ·  ·  ·  ·  ·</h3>
								<div class="tags-body">
									<a href="">电影</a>
									<a href="">自然</a>
									<a href="">文艺</a>
									<a href="">橘本爱</a>
									<a href="">日本</a>
									<a href="">日本电影</a>
								</div>
							</div>
							<div class="subject-doulist">
								<h3>以下小蜜蜂推荐  ·  ·  ·  ·  ·  ·</h3>
								<ul>
									<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
									<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
									<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
									<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
									<li><a href="">严重收藏癖患者的网盘资源清单，病友进！！！</a></li>
								</ul>
							</div>
							<div class="aside-interests">
								<h3>谁在看这部电影  ·  ·  ·  ·  ·  ·</h3>
								<ul>
									<li>
										<img style="float:left;" src="./small.jpg" alt="">
										<div class="others-interest-info">
											<a href="">欢脱的喵喵</a>
											<div class=""> 1分钟前 想看 </div>
										</div>
									</li>
									<li>
										<img style="float:left;" src="./small.jpg" alt="">
										<div class="others-interest-info">
											<a href="">欢脱的喵喵</a>
											<div class=""> 1分钟前 想看 </div>
										</div>
									</li>
									<li>
										<img style="float:left;" src="./small.jpg" alt="">
										<div class="others-interest-info">
											<a href="">欢脱的喵喵</a>
											<div class=""> 1分钟前 想看 </div>
										</div>
									</li>
								</ul>

								<div class="subject-others-interests-ft">
									<a href="">11626人看过</a>
									 / 
									<a href="">17662人想看</a>
								</div>

							</div>
							<div class="aside-pic-two">
								<img src="__PUBLIC__/images/sidepic1.jpg" alt="">
							</div>
						</div>
						
						<div class="extra">
							<img src="__PUBLIC__/images/bigpic.jpg" alt="">
						</div>
					</div>
					
					<div>
						<div class="indentpop1">
							<form class="j a_interest_form movie-sns" method="POST" action="">
								<div class="interest-form-hd">
									<span class="gact fr">
									<a onclick="close_dialog()" href="javascript:;">x</a>
									</span>
									<h2>添加收藏：写短评</h2>
								</div>
								<div class="interest-status" style="float:left;font-size:14px;margin-bottom:15px">
									<label>
										<input type="radio" name="interest" value="wish">
									 	想看
									</label>
									<label>
										<input type="radio" name="interest" value="collect">
									 	看过
									</label>
								</div>
								<div class="interest-rating">
									<span class="j a_stars">
										<span class="rate_stars">
											给个评价吧?(可选):  
											<span id="rating">
											</span>   
										</span>
									</span>
								</div>
								<div class="tags-switch">
									<a id="showtags" href="javascript:void(0)" rel="高级(标签和短评) ▼">缩起 ▲</a>
								</div>
								<ul id="advtags" class="interest_form" style="display: inline-block;">
									<li>标签(多个标签用空格分隔): </li>
									<li>
										<input class="inp-tags" type="text" name="tags">
									</li>
									<li id="mytags" class="clearfix"></li>
									<li id="populartags" class="clearfix">
										<dl>
											<dt>常用标签:</dt>
											<dd>
											<span class="tagbtn gract">橋本愛</span>
											<span class="tagbtn gract">日本电影</span>
											<span class="tagbtn gract">桥本爱</span>
											<span class="tagbtn gract">美食</span>
											<span class="tagbtn gract">文艺</span>
											<span class="tagbtn gract">日本</span>
											<span class="tagbtn gract">2015</span>
											<span class="tagbtn gract">自然</span>
											<span class="tagbtn gract">电影</span>
											<span class="tagbtn gract">日影</span>
											</dd>
										</dl>
									</li>
									<li class="comment-label">
										<span id="left_n" class="num">140</span>
										简短评论:
									</li>
									<li>
										<textarea id="comment" class="comment" maxlength="140" name="comment"></textarea>
									</li>
									<li class="private">
										<input id="inp-private" type="checkbox" name="private">
										<label class="pl" for="inp-private">仅自己可见</label>
									</li>
								</ul>
								<div id="submits" class="interest-form-ft">
									<div class="sync-setting pl">
										<label>分享到</label>
										<label class="share-label share-shuo" for="share-shuo">
											<input id="share-shuo" type="checkbox" value="douban" name="share-shuo">
											我的广播
										</label>
									</div>
									<span class="bn-flat">
										<input type="submit" class="con" name="save" value="保存">
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>	

			</div>
		</div>
	</div>

	<!-- START footer -->
	    {:W('Common/commonFooter')} 
	<!-- END footer -->
</body>
</html>