<!DOCTYPE html>
<html lang="en">
<head>
	<!-- START 公用 head -->
	    {:W('Common/commonHead')}
	<!-- END 公用 head -->
	<link rel="stylesheet" href="__PUBLIC__/css/moviedetail.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/fancybox/jquery.fancybox.css" />
	<script type="text/javascript" src="__PUBLIC__/js/fancybox/jquery.fancybox.js"></script>
</head>
<script type="text/javascript">
	$(function(){

		$('a.saytwo').fancybox({
            
        })
        $('a.wsc').fancybox({
            
        })
        var s_id;
        var l_id;
        $('.userful').click(function(){
        	if(!$(this).hasClass('active')){
        		s_id = $(this).attr('rel');
	        	//alert(s_id);
	        	var that = $(this);
	        	$.post('__CONTROLLER__/sCommentUseful',{s_id:s_id},function(data){
	        		//alert(data['hot']);
	        		$(that).parents('.comment-item').find('.userful-num ').html(data[
	        			'hot']);      		
	        	},'json');
	        	$(that).addClass('active');
        	}
        	
        })

        $('.l_userful').click(function(){
        	if(!$(this).hasClass('active')){
        		l_id = $(this).attr('rel');
        		//alert(l_id);
        		var that =$(this);
        		$.post('__CONTROLLER__/lCommentUseful',{l_id:l_id},function(data){
	        		//alert(data['hot']);
	        		$(that).parents('.review-short-ft').find('.l_userful-num ').html(data[
	        			'hot']);      		
	        	},'json');
	        	$(that).addClass('active');
        	}
        })
	})
</script>
<body>	
	<!-- START header -->
	    {:W('Common/allHeader')}
	    {:W('Common/movieHeader')}	    
	<!-- END header -->
	<div id="wrap">
		<div id="main">	
			<div id="content">	
				<div class="inner">		
					<h1>
						<span>{$list.name}</span>
						<span class="year">({$row[0]['name']})</span>
						
					</h1>
					<div class="grid clearfix">
						<div class="article">
							<div class="indent clearfix">
								<div class="subjectwrap">
									<div class="subject">
										<div class="mainpic">
											<a href="">
												<img src="__PUBLIC__/{$list.i_path}148_{$list.iname}" alt="">
											</a>
										</div>
										<div class="info">
											<span>
												<span class="pl">导演:</span>
												<span class="attrs">{$list.director}</span>
											</span>
											<br>
											<span>
												<span class="pl">编剧:</span>
												<span class="attrs">{$list.writer}</span>
											</span>
											<br>
											<span class="pl">类型:</span>
											<foreach name="list.fname" item="vo">
											<span class="attrs">{$vo}</span>/
											</foreach>
											<br>
											<span class="pl">官方网站:</span>
											<a href="javascript:;" >littleforest-movie.jp/ws/</a>
											<br>
											<span class="pl">制片国家/地区:</span>
											<span class="attrs">{$r['name']}</span>
											<br>	
											<span class="pl">语言:</span>
											<span class="attrs">英语/中文</span>
											<br>
											<span class="pl">上映日期:</span>
											<span class="attrs">{$list.orelease_t}({$r['name']})</span>
											<br>
											<span class="pl">片长:</span>
											<span class="attrs" property="v:runtime">{$list.tlong}分钟</span>
											<br>
											<span class="pl">又名:</span>
											<span class="attrs">{$list.alias}</span>
											<br>
											<span class="pl">IMDb链接:</span>
											<a rel="nofollow" href="javascript:;">tt3474602</a>
											<br>
										</div>
									</div>
									<div class="interest_sect1">
										<div class="rating_wrap">
											<p class="rating_self clearfix" >
											<span class="fl bigstar{$data.star}"></span>
											<strong class="fl rating_num" property="v:average">{$data.score}</strong>
											<span content="10.0" property="v:best"></span>
											</p>
											<p style="height:18px;margin:5px 0;font-size:12px;">
											 	(
													<a href="collections">
													<span property="v:votes">{$data.count}</span>
													人评价
													</a>
												)
											</p>
											<span class="stars5 starstop" title="力荐"></span>
											<div class="power" style="width:60px"></div>
											54.8%
											<br>
											<span class="stars4 starstop" title="推荐"></span>
											<div class="power" style="width:35px"></div>
											32.0%
											<br>
											<span class="stars3 starstop" title="还行"></span>
											<div class="power" style="width:11px"></div>
											10.3%
											<br>
											<span class="stars2 starstop" title="较差"></span>
											<div class="power" style="width:1px"></div>
											1.4%
											<br>
											<span class="stars1 starstop" title="很差"></span>
											<div class="power" style="width:1px"></div>
											1.5%
											<br>
										</div>
										<div class="rating_betterthan">
											影片评分
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
									<div class="like-box">
										<a class="like {$like==1?'active':''}"  rel="movie_{$list.id}_{$u_id}" href="javascript:;"><span></span>喜欢</a>
									</div>
									<br>
								<div class="gtleft">
									<ul>
										<li>
											<img src="__PUBLIC__/images/short-comment.gif" alt="">
											<a class="wsc" href="#pop-1">写短评</a>
										</li>
										<li>
											<img src="__PUBLIC__/images/add-review.gif" alt="">
											<a href="__CONTROLLER__/longComment/id/{$list.id}">写影评</a>
										</li>
										<!-- <li>
											<img src="__PUBLIC__/images/add-doulist.gif" alt="">
											<a href="">提问题</a>
										</li> -->
										<li>
											<img src="__PUBLIC__/images/add-doulist.gif" alt="">
											<a href="">分享到</a>
										</li>
									</ul>
									<!-- <a class="recomand" href="">推荐</a> -->
								</div>
							</div>
							<div class="related-info">
								<h3>{$list.name}的剧情简介  ·  ·  ·  ·  ·  ·</h3>
								<div class="brief">
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$list.brief|subtext=273}</p>                            
								</div>
							</div>
							<div class="related-pic">
								<h3>{$list.name}的图片 · · · · · ·</h3> 
								<ul>
									
									<foreach name="row" item="vo">
									<li>
										<a href=""><img src="__PUBLIC__/{$vo.i_path}{$vo.iname}" alt="" height="100"></a>
									</li>
									</foreach>
									
								</ul>
							</div>
							<div class="comments-section">
								<div class="mod-hd">
									<a class="saytwo" href="#pop-1">我来说两句</a>
									<h3 class="shotappraise">{$list.name}的短评 · · · · · ·</h3>		
								</div>
								<div class="mod-bd">
									<div class="tab-hd">
										精彩短评
									</div>
									<div class="tab-bd">
										<foreach name="r2" item="v">
										<div class="comment-item">
											<div class="comment-user">									
												<a class="username" href="">{$v.name}</a>	
												<a rel="{$v.id}" class="userful" href="javascript:;">有用</a>
												<span class="userful-num">{$v.hot}</span>						
											</div>
											<div class="clearfix"></div>
											<div class="comment-content">
												<p>{$v.content}</p>
											</div>
										</div>
										</foreach>
										<div class="more-shot">
											>
											<a href="__CONTROLLER__/allshortComment/id/{$list.id}">查看更多短评</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="review_section">
								<div class="mod-hd">
									<a class="saytwo" href="__CONTROLLER__/longComment/id/{$list.id}">我来评论这部电影</a>
									<h3 class="shotappraise">{$list.name}的影评 · · · · · ·</h3>		
								</div>
								<div class="mod-bd">
									<foreach name="r1" item="vo">
									<div class="review">
										<div class="review-hd">
											<div class="review-hd-title">
												<if condition="empty($vo['image'])" >
												<a class="fl" href=><img src="__PUBLIC__/images/default_face.jpg" width="36px" alt=""></a>
												<else />
												<a class="fl" href=><img src="__PUBLIC__{$vo.image}" width="36px" alt=""></a>
												</if>
												<div class="fl">
													<a href="__CONTROLLER__/commentDetail/id/{$vo.id}/mid/{$vo.m_id}">{$vo.title}</a>
												</div>
											</div>
											<div class="review-hd-info">
												<a class="" href="">{$vo.name}</a>
												{$vo.time|date="Y-m-d,h:i:s",###}
												<span class="allstar40" title="推荐"></span>
											</div>
										</div>
										<div class="riview-bd">					
											<p>{$vo.content|subtext=273}
											</p>										
											<div class="review-short-ft">
												<span class="l_userful-num">{$vo.hot}</span>
												 <a rel="{$vo.id}" class="l_userful" href="javascript:;">有用</a>
												<a href="__CONTROLLER__/commentDetail/id/{$vo.id}/mid/{$vo.m_id}">回复</a>
											</div>
										</div>
									</div>
									</foreach>
									<div class="more-shot">
										>
										<a href="__CONTROLLER__/alllongComment/id/{$list.id}">查看更多影评</a>
									</div>
									
								</div>
							</div>
							
						</div>
						
						<div class="aside"> 
							<div class="aside-pic">
								<a href="http://{$alist['0'].link}">
									<img src="__PUBLIC__{$alist['0'].i_path}{$alist['0'].i_name}" alt="">
								</a>
							</div>

							<div class="aside-tag">
								<h3>蜂巢成员常用的标签  ·  ·  ·  ·  ·  ·</h3>
								<div class="tags-body">
									<a href="">电影</a>
									<a href="">自然</a>
									<a href="">文艺</a>
									<a href="">精彩</a>
									<a href="">外国</a>
									<a href="">爱情</a>
								</div>
							</div>
							<div class="subject-doulist">
								<h3>以下小蜜蜂推荐影评  ·  ·  ·  ·  ·  ·</h3>
								<ul>
									<foreach name="r1" item="vo">
									<li><a href="__CONTROLLER__/commentDetail/id/{$vo.id}/mid/{$vo.m_id}">{$vo.content|subtext=16}</a></li>
									</foreach>
								</ul>
							</div>
							<div class="aside-interests">
								<h3>谁在看这部电影  ·  ·  ·  ·  ·  ·</h3>
								<ul>
									<foreach name="r3" item="vo">
									<li>
										<if condition="empty($vo['image'])" >
										<img style="float:left;" src="__PUBLIC__/images/default_face.jpg" width="48px" alt="">
										<else />
										<img style="float:left;" src="__PUBLIC__{$vo.image}" width="48px" alt="">
										</if>
										<div class="others-interest-info">
											<a href="">{$vo.name}</a>
											<div class=""> {$vo.time|date="Y-m-d",###} 想看 </div>
										</div>
									</li>
									</foreach>
									
								</ul>

								<div class="subject-others-interests-ft">
									<a href="">{$r5}人看过</a>
									 / 
									<a href="">{$r4}人想看</a>
								</div>

							</div>
							<div class="aside-pic-two">
								<a href="http://{$alist['1'].link}">
								<img src="__PUBLIC__{$alist['1'].i_path}{$alist['1'].i_name}" alt="">
								</a>							
							</div>
						</div>
						
						<div class="extra">
							<a href="http://{$adblist.link}">
								<img src="__PUBLIC__{$adblist.i_path}{$adblist.i_name}" alt="">
							</a>
						</div>
					</div>
					
					<div id="pop-1">
						<div class="indentpop1">
							<form class="j a_interest_form movie-sns" method="POST" action="__CONTROLLER__/doshortComment">
								<input type="hidden" name="m_id" value="{$list.id}">
								<div class="interest-form-hd">
									<span class="gact fr">
									<a onclick="close_dialog()" href="javascript:;">x</a>
									</span>
									<h2>添加收藏：写短评</h2>
								</div>
								<div class="interest-status" style="float:left;font-size:14px;margin-bottom:15px">
									<label>
										<input type="radio" name="statut" value="0">
									 	想看
									</label>
									<label>
										<input type="radio" name="statut" value="1">
									 	看过
									</label>
								</div>
								<!-- <div class="interest-rating">
									<span class="j a_stars">
										<span class="rate_stars">
											给个评价吧?(可选):  
											<span id="rating">
											</span>   
										</span>
									</span>
								</div>
								<div class="tags-switch">
									<a id="showtags" href="javascript:void(0)" rel="高级(标签和短评) ▼">缩起 ▲</a>
								</div> -->
								<ul id="advtags" class="interest_form" style="display: inline-block;">
									<li>标签(多个标签用空格分隔): </li>
									<li>
										<input class="inp-tags" type="text" name="tags">
									</li>
									<li id="mytags" class="clearfix"></li>
									<li id="populartags" class="clearfix">
										<dl>
											<dt>参考标签:</dt>
											<dd>
											<span class="tagbtn gract">精彩</span>
											<span class="tagbtn gract">外国电影</span>
											<span class="tagbtn gract">浪漫</span>
											<span class="tagbtn gract">美食</span>
											<span class="tagbtn gract">文艺</span>
											<span class="tagbtn gract">动作</span>
											<span class="tagbtn gract">2015</span>
											<span class="tagbtn gract">自然</span>
											<span class="tagbtn gract">电影</span>
											<span class="tagbtn gract">奇幻</span>
											</dd>
										</dl>
									</li>
									<li class="comment-label">
										<span id="left_n" class="num">140</span>
										简短评论:
									</li>
									<li>
										<textarea id="comment" class="comment" maxlength="140" name="content"></textarea>
									</li>
									<li class="private">
										<input id="inp-private" type="checkbox" name="private">
										<label class="pl" for="inp-private">仅自己可见</label>
									</li>
								</ul>
								<div id="submits" class="interest-form-ft">
									<div class="sync-setting pl">
										<label>分享到</label>
										<label class="share-label share-shuo" for="share-shuo">
											<input id="share-shuo" type="checkbox" value="douban" name="share-shuo">
											我的广播
										</label>
									</div>
									<span class="bn-flat">
										<input type="submit" class="con"  value="保存">
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>	

			</div>
		</div>
	</div>

	<!-- START footer -->
	    {:W('Common/commonFooter')} 
	<!-- END footer -->
</body>
</html>