<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>

		<script type="text/javascript">
			$(function(){
				var c_id
				var i=4;
				c_id='hot';
				$.post('__CONTROLLER__/getCata',{c_id:'hot',num:i},function(data){
					for(var tmp in data){
						$('#dys').append('<li><a href="__CONTROLLER__/detail/id/'+data[tmp]['m_id']+'"><img src=__PUBLIC__'+data[tmp]['i_path']+'207_'+data[tmp]['name']+'><p>'+data[tmp]['mname']+'<i></i></p></a></li>');
						}
				},'json')

				$('.slider').bxSlider({
					auto:true,
					pager:true,
					controls:true,
					minSlides:1,
					maxSlides:4,
					moveSlides:4,
					slideWidth:128,
					slideMargin:20
				});
				$('.big-slider ul').bxSlider({
					auto:true,
					pager:true,
					controls:true,
				});
				//var i=2;
				//var c_id
				$('.tab a').click(function(){
					i=4;
					c_id = $(this).attr('rel');
					$.post('__CONTROLLER__/getCata',{c_id:c_id,num:i},function(data){
						//alert(data[0]['mname']);
						$('#dys').empty();
						for(var tmp in data){
							$('#dys').append('<li><a href="__CONTROLLER__/detail/id/'+data[tmp]['m_id']+'"><img src=__PUBLIC__'+data[tmp]['i_path']+'207_'+data[tmp]['name']+'><p>'+data[tmp]['mname']+'<i></ i></p></a></li>');
						}
					},'json')
				})

				$('.ajax-button a').click(function(){
					//alert(c_id);
					i=i+4;
					$.post('__CONTROLLER__/getCata',{c_id:c_id,num:i},function(data){
						$('#dys').empty();
						for(var tmp in data){
							$('#dys').append('<li><a href="__CONTROLLER__/detail/id/'+data[tmp]['m_id']+'"><img src=__PUBLIC__'+data[tmp]['i_path']+'207_'+data[tmp]['name']+'><p>'+data[tmp]['mname']+'<i></i></p></a></li>');
						}
											
					},'json')
				})

				$('.tip').css('display','none');
				$('#check').click(function(){
					if($('#check').is(':checked') && '{$Think.session.home}' == ''){
						$('.tip').css('display','block');
						//alert('e');
					}else{
						$('.tip').css('display','none');			
					}	
				})		
			})
		</script>
		<!-- END 自定义 head -->
	</head>
	<body class="movie-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/allHeader')}
		    {:W('Common/movieHeader')}
			    
			<!-- END header -->
			<div id="main">
				<div class="inner">
					<div class="f-left con">
						<div class="section sec-1">
							<div class="top">
								<h3>正在热映</h3>
								<a href="javascript:;">全部正在热映》</a>
								<a href="javascript:;">即将上映》</a>
							</div>
							<div class="bottom">
								<ul class="slider">
									<foreach name="row" item="vo">
									<li>
										<a href="__CONTROLLER__/detail/id/{$vo.m_id}">
											<img src="__PUBLIC__/{$vo.i_path}180_{$vo.name}"/>
											<p>{$vo.mname}</p>
											<span class="allstar40"></span><i>{$vo.score}</i>
										</a>
									</li>
									</foreach>
								</ul>
							</div>
						</div>
						<div class="section sec-2">
							<div class="top">
								<h3>选电影</h3>
							</div>
							<form>
								<div class="tab">
									<a rel="hot" href="javascript:;">热门</a>
									<foreach name="list" item="vo">
									<a class="oa1" rel="{$vo.id}" href="javascript:;">{$vo.name}</a>
									</foreach>
									
								</div>
								<div class="chose">
									<div class="sort f-left">
										<label><input type="radio" name="sort" value="hot"/>按热度排序</label>
										<label><input type="radio" name="sort" value="time"/>按时间排序</label>
										<label><input type="radio" name="sort" value="rank"/>按评价排序</label>
									</div>
									<div class="check f-right">
										<label><input id="check" type="checkbox" name="check" value="seen"/>我没看过的</label>
									</div>
								</div>
							</form>
							<div class="tip">
								<p>注册登录后可以保存自己的观影记录,快快登录吧！<a href="">登录</a><a href="">注册</a></p>
							</div>
							<div class="movies">
								<ul id="dys">
									<!--<li>
										<a href="">
											<img src="__PUBLIC__/images/movie3.jpg"/>
											<p>疯狂的麦克斯<i>7.8</i></p>
										</a>									
									</li>-->
								</ul>
								<div class="ajax-button">
									<a href="javascript:;">加载更多</a>
								</div>
							</div>
						</div>
						<div class="section sec-3">
							<div class="top">
								<h3>热门推荐</h3>
							</div>
							<div class="big-slider">
								<ul class="big-slider">
									<foreach name="arr" item="vo">
									<li>
										<a href="">
											<div class="img-box f-left"><img src="__PUBLIC__{$vo.i_path}{$vo.name}" height="240px"/></div>
											<div class="text-box f-left">
												<h4>2015年口碑电影</h4>
												<p>{$vo.mname}</p>
												<p>来自<span>{$vo.uname}</span></p>
												<p>{$vo.content|subtext=88}</p>
											</div>
										</a>
									</li>
									</foreach>
									
								</ul>
							</div>
						</div>
						<div class="section sec-4">
							<div class="top">
								<h3>最受欢迎的影评</h3>
								<a href="__CONTROLLER__/alllongComment">更多热门影评》</a>
								<a href="">新片影评》</a>
							</div>
							<div class="bottom">
								<ul>
									<foreach name="arr" item="vo">
									<li>
										<div class="img-box f-left"><a href=""><img src="__PUBLIC__{$vo.i_path}148_{$vo.name}" width="68px" /></a></div>
										<div class="text-box f-left">
											<h5><a href="">{$vo.title}</a></h5>
                                            <p><a href="">作者 {$vo.uname}&nbsp;</a> 
                                            <a href="">去评论&nbsp;{$vo.mname}</a></p>
                                            <p class="detail"> 
                                                {$vo.content|subtext=28}<a class="all" href="__CONTROLLER__/commentDetail/id/{$vo.lid}/mid/{$vo.m_id}">(全文)</a>
                                            </p> 
										</div>
									</li>
									</foreach>
								</ul> </div>
						</div>
					</div>
					<div class="f-left sider">
						<div class="ad">
							<a href=""><img src="__PUBLIC__/images/ad4.jpg"/></a>
						</div>
						<div class="hot">
                            <h3>热门推荐</h3>
                            <ul>
                            	<foreach name="r2" item="vo" key="k">
                                <li><a href="__CONTROLLER__/detail/id/{$vo.id}">{$vo.name} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo.orelease_t|date="Y-m-d",###}</a></li>                                                  
                            	</foreach>
                            </ul> 
                        </div>

                        <div class="list-box">
                        	<div class="title">
                        		<h3>电影口碑榜</h3><!-- <a href="">更多榜单》</a> -->
                        	</div>
                            <ul>
                            	<foreach name="r" item="vo">
                                <li><a href=""> {$vo.name}</a></li>
                               	</foreach>
                            </ul>

                        </div>

					</div>
				</div>
			</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		    
		   	
		<!-- END footer -->

	</body>
</html>
