<!DOCTYPE html>
<html>
	<head>
		<!-- START 公用 head -->
		    {:W('Common/commonHead')}
		    
		<!-- END 公用 head -->
		<!-- START 自定义 head -->
		<script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>

		<script type="text/javascript">
			$(function(){
				$('.slider').bxSlider({
					auto:true,
					pager:true,
					controls:true,
					minSlides:1,
					maxSlides:4,
					moveSlides:4,
					slideWidth:128,
					slideMargin:20
				});
				$('.big-slider ul').bxSlider({
					auto:true,
					pager:true,
					controls:true,
				});

				var i=5;
				$('.ajax-button a').click(function(){
					i=i+5;
					//alert(i);					
						$.post('__CONTROLLER__/moreRanking',{num:i},function(data){
							//alert(data);
							$('#dys').empty();
							for(var tmp in data){
								$('#dys').append('<li><div class="img-box f-left"><a href="__CONTROLLER__/detail/id/'+data[tmp]['m_id']+'"><img src="__PUBLIC__'+data[tmp]['i_path']+data[tmp]['name']+'" width=65px /></a></div><div class="text-box f-left "><h5><a href="__CONTROLLER__/detail/id/'+data[tmp]['m_id']+'">电影名 '+data[tmp]['alias']+'</a></h5><p>'+data[tmp]['orelease_t']+'/'+data[tmp]['director']+'/'+data[tmp]['writer']+' ...</p><p>电影评论得分 <i>'+data[tmp]['score']+'</i><a href="__CONTROLLER__/detail/id/'+data[tmp]['m_id']+'">(去评价)</a></p></div></li>');
							}
												
						},'json')
				})
			})
		</script>

		<style type="text/css">
			.ajax-button a {
			    background-color: #f7f7f7;
			    color: #a11715;
			    display: block;
			    font-size: 14px;
			    height: 40px;
			    text-align: center;
			    width: 582px;
			    line-height: 40px;
			    margin-bottom: 5px;
			}
		</style>
		<!-- END 自定义 head -->
	</head>
	<body class="movie-page movie-ranking-page">
		<div id="wrap">
			<!-- START header -->
		    {:W('Common/allHeader')}
		    
		    {:W('Common/movieHeader')}
		    
			    
			<!-- END header -->
			
			<div id="main">
				<div class="inner">
					<div class="f-left con">


						<div class="section sec-4">
							<div class="top">
								<h2>蜂巢电影排行榜</h2>
								<h3>蜂巢热门榜 · · · · · · </h3>
							</div>
							<div class="bottom">
								<ul id="dys">
									<foreach name="lis" item="vo">
									<li>
										<div class="img-box f-left"><a href="__CONTROLLER__/detail/id/{$vo.m_id}"><img src="__PUBLIC__{$vo.i_path}{$vo.name}" width="65px" /></a></div>
										<div class="text-box f-left ">
											<h5><a href="__CONTROLLER__/detail/id/{$vo.m_id}">电影名 {$vo.alias}</a></h5>
                                            <p>{$vo.orelease_t|date="Y-m-d",###}/{$vo.director}/{$vo.writer} ...</p>
                                            <p>电影评论得分 <i>{$vo.score}</i><a href="__CONTROLLER__/detail/id/{$vo.m_id}">(去评价)</a></p>
                                         </div>
									</li>
									</foreach>
								</ul>
								<div class="ajax-button">
									<a href="javascript:;">加载更多</a>
								</div> 
							</div>
						</div>
					</div>
					<div class="f-left sider">

						<!-- <div class="classify-ranking">
							<h4>分类排行榜 ·······</h4>
								<div class="classify">
									
									<a href="">小说</a>
									<a href="">随笔</a>
								</div>
						
							
						</div> -->
						<div class="ad">
							<a href=""><img src="__PUBLIC__/images/ad4.jpg"/></a>
						</div>
                        <div class="list-box">
                        	<div class="title">
                        		<h3>电影口碑榜 ·······</h3>
                        		<h5></h5>
                        	</div>
                            <ul>
                              	<foreach name="r" item="vo" key="k">
                                <li>{$k+1}<a href=""> {$vo.name}</a></li>
                              	</foreach>
                            </ul>

                        </div>
                        <!-- <div class="top250">
                        	<div class="title">
                        		<h3>蜂巢电影TOP250</h3>
                        		<a href="">全部</a>
                        	</div>
                            <ul>
                                <li>
                                	<a href=""><img src="__PUBLIC__/images/movie6.jpg"/></a>
                                	<p><a href="">出门的世界</a></p>
                                </li>
                                <li>
                                	<a href=""><img src="__PUBLIC__/images/movie6.jpg"/></a>
                                	<p><a href="">出门的世界</a></p>
                                </li>
                                <li>
                                	<a href=""><img src="__PUBLIC__/images/movie6.jpg"/></a>
                                	<p><a href="">出门的世界</a></p>
                                </li>
                        								<li>
                                	<a href=""><img src="__PUBLIC__/images/movie6.jpg"/></a>
                                	<p><a href="">出门的世界</a></p>
                                </li>
                                <li>
                                	<a href=""><img src="__PUBLIC__/images/movie6.jpg"/></a>
                                	<p><a href="">出门的世界</a></p>
                                </li>
                            </ul>
                        
                        </div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- START footer -->
		    {:W('Common/commonFooter')}
		    
		   	
		<!-- END footer -->

	</body>
</html>
